<%= content_for :body_style do %>
<% end %>
<% if @quotes.empty? %>
  <div class="container">
  	<div class="row">
  		<div class="col-xl-12">
  			<section id="not-found" class="center margin-top-50 margin-bottom-25">
  				<h2><i class="icon-line-awesome-frown-o"></i></h2>
  				<p><%= t('.no_quotes_find') %></p>
  			</section>
  		</div>
  	</div>
  </div>
<% else %>
  <table id="quotes_datatable" class="table table-striped" style="width:100%">
    <thead>
      <tr>
          <th><%= t(".quote_number") %></th>
          <th><%= t(".quote_job_name") %></th>
          <th><%= t(".quote_vat") %></th>
          <th><%= t(".quote_total") %></th>
          <th><%= t(".status") %></th>
      </tr>
    </thead>
    <tbody>
      <% @quotes.each do |quote| %>
        <tr>
            <td><%=link_to(t('.quote',number:quote.quote_number), quote_path(quote.id)) %></td>
            <td><%= link_to(quote.job.name,job_path(slug:quote.job.slug)) %></td>
            <td><%= number_to_currency(quote.vat) %></td>
            <td><%= number_to_currency(quote.total) %></td>
            <td>
              <% case quote.status %>
              <% when "created" %>
    				     <mark class="color" style="background-color: orange"><%= raw I18n.t('.quotes.show.quote_in_progress') %></mark>
              <% when "declined" %>
                 <mark class="color" style="background-color: #e53038"><%= raw I18n.t('.quotes.show.quote_decline') %></mark>
              <% when "paid" %>
                 <mark class="color" style="background-color:  #28b661"><%= raw I18n.t('.quotes.show.quote_paid') %></mark>
              <% else %>
                 <mark class="color" style="background-color: #28b661"><%= raw I18n.t('.quotes.show.quote_accepted') %></mark>
            <% end %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= content_for :body_script do %>
	<script type="text/javascript">
		$(document).ready(function() {
		  $('#quotes_datatable').dataTable({
        "language": {
          "url": 'http://cdn.datatables.net/plug-ins/1.10.16/i18n/French.json'
        }
      });
		});
	</script>
<% end %>
