<div id="wrapper">

	<!-- Header Container
	================================================== -->
	<div class="clearfix"></div>
	<!-- Header Container / End -->


	<!-- Dashboard Container -->
	<div class="dashboard-container">
		<!-- Dashboard Content
		================================================== -->
		<div class="dashboard-content-container" data-simplebar>
			<div class="dashboard-content-inner" >

				<!-- Dashboard Headline -->
				<div class="dashboard-headline">
					<h3><%= raw I18n.t('.quote.new.quote_creation') %></h3>
				</div>

				<!-- Row -->
				<div class="row">

					<!-- Dashboard Box -->
					<div class="col-xl-12">
						<div class="dashboard-box margin-top-0">

							<!-- Headline -->
							<div class="headline">
								<h3><i class="icon-feather-folder-plus"></i> <%= raw I18n.t('.quote.new.creation_form') %></h3>
							</div>

							<div class="content with-padding">
								<div class="row">

									<div class="col-xl-8 offset-xl-2">
										<div class="submit-field">
											<h5><%= raw I18n.t('.quote.new.title') %></h5>
											<input type="text" class="with-border">
										</div>
									</div>
									<div class="col-xl-8 offset-xl-2" id="form_element">
										<div class="submit-field">
											<h5><%= raw I18n.t('.quote.new.item_detail') %></h5>
											<textarea type="text" class="with-border"></textarea>
										</div>
										<div class="row">
											<div class="col-xl-2 submit-field">
												<h5><%= raw I18n.t('.quote.new.unit_price') %></h5>
												<div class="input-with-icon">
													<input class="with-border" type="text" placeholder="0">
													<i class="currency">€</i>
												</div>
											</div>

											<div class="col-xl-2 submit-field">
												<h5><%= raw I18n.t('.quote.new.quantity') %></h5>
												<input type="text" class="with-border" placeholder="1">
											</div>
											<div class="col-xl-2 submit-field">
												<h5><%= raw I18n.t('.quote.new.total') %></h5>
												<div class="input-with-icon">
													<input class="with-border" type="text" placeholder="10">
													<i class="currency">€</i>
												</div>
											</div>
										</div>
									</div>




								</div>
								<div class="col-xl-8 offset-2">

									<button onclick="duplicate()"><i class="icon-material-outline-add"></i><%= raw I18n.t('.quote.new.add_item') %></button>

								</div>
							</div>
						</div>
						<div class="dashboard-box margin-top-0">

							<!-- Headline -->
							<div class="headline">
								<h3><i class="icon-feather-folder-plus"></i> <%= raw I18n.t('.quote.new.billing_information') %></h3>
							</div>

							<div class="content with-padding">
								<div class="row">

									<div class="col-xl-8 offset-xl-2">

									</div>
									<div class="col-xl-8 offset-xl-2" id="form_element">


										<p>KAMINI</p>

										<p>shuraval@yahoo.fr</p>
										<p>Kevin Valfin</p>
										<p>1 bis av du pavé neuf</p>
										<p>93160 Noisy le grand</p>
										<p>France</p>


									</div>

								</div>
							</div>
						</div>
						<div class="dashboard-box margin-top-0">

							<!-- Headline -->
							<div class="headline">
								<h3><i class="icon-feather-folder-plus"></i><%= raw I18n.t('.quote.new.legal_notice') %></h3>
							</div>

							<div class="content with-padding">
								<div class="row">

									<div class="col-xl-8 offset-xl-2">

									</div>
									<div class="col-xl-8 offset-xl-2" id="form_element">


										<p><%= raw I18n.t('.quote.new.legal_notice_information') %></p>

											<blockquote>SAS au capital de 500€
												SIRET 81783623200014 RCS de BOBIGNY - NAF 7311Z
												Numéro de TVA Intracommunautaire (facultatif) : FR20817836232<br/>
												La facture est payable sous 7 jours.
												Tout règlement effectué après expiration du délai donnera lieu, à titre de pénalité de retard, à
												l'application d'un intérêt égal à celui appliqué par la Banque Centrale Européenne à son opération de
												refinancement la plus récente, majoré de 10 points de pourcentage, ainsi qu'à une indemnité forfaitaire
												pour frais de recouvrement d'un montant de 40 Euros.
												Les pénalités de retard sont exigibles sans qu'un rappel soit nécessaire.
											</blockquote>


											</div>

										</div>
									</div>
								</div>

								<div class="col-xl-12">
									<a class="button ripple-effect big margin-top-30" href="/theme/user/hireo/dashboard-messages.html"><i class="icon-feather-plus"></i> <%= raw I18n.t('.quote.new.creation_button') %></a>

								</div>

							</div>
							<!-- Row / End -->

							<div class="dashboard-footer-spacer"></div>
						</div>
					</div>
					<!-- Dashboard Content / End -->

				</div>
				<!-- Dashboard Container / End -->

			</div>

			<script type="text/javascript">
				var i = 0;
				var original = document.getElementById('form_element');

				function duplicate() {
					var clone = original.cloneNode(true); // "deep" clone
					clone.id = "form_element" + ++i;
					// or clone.id = ""; if the divs don't need an ID
					original.parentNode.appendChild(clone);
				}

			</script>
