
<!-- Dashboard Headline -->
<div class="dashboard-headline">
	<h3><%= t('.quote_creation') %></h3>
</div>

<!-- Row -->
<div class="row">

	<!-- Dashboard Box -->
	<div class="col-xl-12">
		<%= form_with(model: @quote, local: true) do |f| %>
			<div class="dashboard-box margin-top-0">

				<!-- Headline -->
				<div class="headline">
					<h3><i class="icon-feather-folder-plus"></i> <%= t('.creation_form') %></h3>
				</div>

				<div class="content with-padding">
					<% if @quote.errors.any? %>
						<div class="notification error closeable">
							<h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>
							<% @quote.errors.full_messages.each do |message| %>
								<p><%= message %></p>
							<% end %>
							<a class="close" href="#"></a>
						</div>
					<% end %>
					<div class="row">
						<div class="col-xl-8 offset-xl-2">
							<div class="submit-field">
								<h5><%= t('.title') %></h5>
								<%= @job.name %>
							</div>

						</div>
						<div class="col-xl-12">
							<%= f.fields_for :quote_elements do |ff| %>
								<%= render partial: 'quote_element_fields', locals: { f: ff }  %>

							<% end %>
							<%= link_to_add_fields '<i class="icon-material-outline-add"></i> Ajouter un élément'.html_safe, f, :quote_elements%>

						</div>
					</div>
				</div>
			</div>
			<%= f.hidden_field :job_id, value: params[:job_id] %>
			<%= f.hidden_field :user_id, value: current_user.id %>
			<div class="col-xl-12">
				<%= f.submit t('.quote_creation'), class:"button ripple-effect big margin-top-30"  %>
			</div>
		<%end%>
	</div>

			<!-- Row / End -->
	<div class="dashboard-footer-spacer"></div>
</div>
<%= content_for :body_script do %>
  <script type="text/javascript">
    $( document ).ready(function() {
  		$('#quantity').on('blur', function() {

  		  var price = $('#price').val();
  		  var quantity = $('#quantity').val();

  		  var total = $('#total').val();

  		  var total_calculated = price * quantity;

  			$('#total').val(total_calculated)
  		});
  	});
  </script>
<%end %>
