<%= content_for :body_style do %>
  <link rel="stylesheet" href="/theme/user/hireo/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
<% end %>
<!-- Dashboard Headline -->
<div class="dashboard-headline">
	<h3><%= raw I18n.t('.quotes.show.quote_recap', quote_number: @quote.quote_number) %></h3>
</div>

<!-- Row -->
<div class="row">

	<!-- Dashboard Box -->
	<div class="col-xl-12">
		<div class="dashboard-box margin-top-0">

			<!-- Headline -->
			<div class="headline">
        <% case @quote.status %>
          <% when "created" %>
				    <h3><i class="icon-feather-folder-plus"></i> <%= t('.quote_in_progress_for_customer') %> <mark class="color" style="background-color: orange"><%= raw I18n.t('.quotes.show.quote_in_progress') %></mark></h3>
          <% when "declined" %>
            <h3><i class="icon-feather-folder-plus"></i>  <%= t('.quote_declined_by_customer') %> <mark class="color" style="background-color: #e53038"><%= raw I18n.t('.quotes.show.quote_decline') %></mark></h3>
          <% when "paid" %>
            <h3><i class="icon-feather-folder-plus"></i>  <%= t('.quote_paid_by_customer') %> <mark class="color" style="background-color:  #28b661"><%= raw I18n.t('.quotes.show.quote_paid') %></mark></h3>
          <% else %>
            <h3><i class="icon-feather-folder-plus"></i> <%= t('.quote_accepted_by_customer') %> <mark class="color" style="background-color: #28b661"><%= raw I18n.t('.quotes.show.quote_accepted') %></mark></h3>
        <% end %>
      </div>

			<div class="content with-padding padding-bottom-10">
				<div class="row">
					<div class="col-xl-8" style="background-color: white">
			      <div class="row">
			        <div class="col-12" >
								<table id="quote_datatable" class="table table-striped" style="width:100%">
									<thead>
										<tr>
	                    <th><%= t('.description') %></th>
				              <th><%= t('.price') %></th>
				              <th><%= t('.quantity') %></th>
				              <th><%= t('.total_with_vat') %></th>
	          				</tr>
									</thead>
									<tbody>
										<% @quote.quote_elements.each do |qe| %>
											<tr>
	            					<td><%= qe.content %></td>
	            					<td><%= qe.price %></td>
	            					<td><%= qe.quantity %></td>
	                      <td><%= qe.total %></td>
	            				</tr>
										<% end %>
									</tbody>
          			</table>
			        </div>
			      </div>
			    </div>
			    <div class="col-xl-4 col-lg-4 margin-top-0 margin-bottom-60">
						<% if current_user.customer? %>
							<div class="">
								<!-- Overview -->
								<div class="freelancer-overview">
									<div class="freelancer-overview-inner d-flex">
										<!-- Bookmark Icon -->
										<!-- Avatar -->
										<div class="freelancer-avatar">
											<div class="verified-badge"></div>
											<img src=" <%= @quote.sender.avatar_url %>" alt="">
										</div>

										<!-- Name -->
										<div class="freelancer-name">
											<h4><%= @quote.sender.full_name %></h4>
											<span> <%= @quote.sender.profession.name %></span><br>
										</div>
										<!-- Rating -->
									</div>
                  <%= link_to room_path(id: Room.where(author_id:current_user.id,job_id: @quote.job.id,receiver_id: @quote.sender.id).or(Room.where(receiver_id:current_user.id,job_id: @quote.job.id,author_id: @quote.sender.id)).first.id),class:"button margin-bottom-10" do %>
                    <%= raw I18n.t('.quotes.show.send_mp') %>
                  <% end %>
								</div>
							</div>
            <% else %>
            <div class="">
              <!-- Overview -->
              <div class="freelancer-overview">
                <div class="freelancer-overview-inner d-flex">
                  <!-- Bookmark Icon -->
                  <!-- Avatar -->
                  <div class="freelancer-avatar">
                    <img src=" <%= @quote.receiver.avatar_url %>" alt="">
                  </div>

                  <!-- Name -->
                  <div class="freelancer-name">
                    <h4> <%= @quote.receiver.full_name %></h4>
                  </div>
                  <!-- Rating -->
                </div>
                <% if current_user.have_one_room_with_user(@quote.job.customer) %>
                  <%= link_to room_path(id: Room.where(author_id:current_user.id,job_id: @quote.job.id,receiver_id: @quote.receiver.id).or(Room.where(receiver_id:current_user.id,job_id: @quote.job.id,author_id: @quote.receiver.id)).first.id),class:"button margin-bottom-10" do %>
                    <%= raw I18n.t('.quotes.show.send_mp') %>
                  <% end %>
                <% end %>
              </div>
            </div>
						<% end %>
			      <div class="boxed-widget summary margin-top-0">
			        <div class="boxed-widget-headline">
			          <h3><%= raw I18n.t('.quotes.show.summary') %></h3>
			        </div>
			        <div class="boxed-widget-inner">
			          <ul>
			            <li><%= raw I18n.t('.quotes.show.global_total_without_vat') %> <span><%= number_to_currency(@quote.total_without_vat) %></span></li>
			            <li><%= raw I18n.t('.quotes.show.vat') %> <span><%= number_to_currency(@quote.vat) %></span></li>
			            <li class="total-costs"><%= raw I18n.t('.quotes.show.total_with_vat') %> <span><%= number_to_currency(@quote.total_within_vat) %></span></li>
			          </ul>
			        </div>
			      </div>
						<% if current_user.customer? %>
							<div class="row margin-top-30">
								<div class="col-12"style="display: flex; justify-content:center">
	                <% case @quote.status %>
	                <% when "created" %>
	                  <%= link_to t('.decline'), decline_quote_path(quote: @quote),style:"margin-right: 10px;display: flex; align-items: center" %>
	                  <%= link_to t('.accept_quote'), accept_quote_path(id: @quote),class:"button", "data-turbolinks" => "false" %>
	                <% when "paid" %>
	                  <p> <%= t('.message_for_quote_accepted') %></p>
	                <% else %>
                    <p><%= t('.message_for_quote_declined') %></p>
	                <% end %>
	              </div>
							</div>
            <% else %>
              <div class="row margin-top-30">
                <div class="col-12"style="display: flex; justify-content:center">
                  <% case @quote.status %>
                  <% when "declined" %>
                    <p><%= link_to "Envoyer un nouveau devis", new_quote_path(job_id: @quote.job.id), class:"button" %></p>
                  <% end %>
                </div>
              </div>
						<% end %>
			      <!-- Summary -->
			    </div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Row / End -->

<div class="dashboard-footer-spacer"></div>
<%= content_for :body_script do %>
	<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" charset="utf-8"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" charset="utf-8"></script>
	<script type="text/javascript">
		$(document).ready(function() {
		  $('#quote_datatable').dataTable({
        "language": {
          "url": 'http://cdn.datatables.net/plug-ins/1.10.16/i18n/French.json'
        }
      });
		});
	</script>
<% end %>
