<%= content_for :body_style do %>
<link rel="stylesheet" href="/theme/user/hireo/css/progress_bar.css">
<style media="screen">
  .image-upload > input
  {
     display: none;
  }
  .banner{
    background-color: #4267b2;
    top: 0;
    padding: 10px 20px;
    line-height: 24px;
    color: #fff;
    position: relative;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    overflow: hidden;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(102,103,107,0.15);
   }

  .submit-field > .date-time {
    width: 30%;
    text-indent: 15px;
  }
  .required:after {
    content: " *";
    color: red;
  }
</style>
<% end %>
<!-- Dashboard Headline -->
<div class="dashboard-headline">
  <h3><%= I18n.t('.user.all.edit.my_personal_info') %></h3>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <input type="hidden" name="user[account_token]" id="token-account">
  <input type="hidden" name="user[bank_token]" id="token-bank">
  <input type="hidden" name="user[person_token]" id="token-person">
  <%= render "devise/shared/error_messages", resource: resource %>
  <!-- Row -->
  <div class="row">
    <!-- Dashboard Box -->
    <div class="col-xl-12">
      <div class="dashboard-box margin-top-0">

        <!-- Headline -->
        <div class="headline">
          <h3><i class="icon-material-outline-account-circle"></i> <%= I18n.t('.user.all.edit.my_account') %></h3>
        </div>

        <div class="content with-padding padding-bottom-0">

          <div class="row">

            <div class="col-auto">
              <div class="avatar-wrapper" data-tippy-placement="bottom" title="Change Avatar">
                <% if @user.avatar_url.present? %>
                  <img class="profile-pic" src= <%= @user.avatar_url %> alt="" />
                <% else %>
                  <img class="profile-pic" src="images/user-avatar-placeholder.png" alt="" />
                <% end %>
                  <div class="upload-button"></div>
                <%= f.file_field :avatar, class:"file-upload" %>
              </div>
            </div>

            <div class="col">
              <div class="row">

                <div class="col-xl-6">
                  <div class="submit-field">
                    <h5><%= I18n.t('.user.all.edit.firstname') %></h5>
                    <%= f.text_field :firstname, class:"with-border" %>
                  </div>
                </div>

                <div class="col-xl-6">
                  <div class="submit-field">
                    <h5><%= I18n.t('.user.all.edit.lastname') %></h5>
                    <%= f.text_field :lastname, class:"with-border" %>
                  </div>
                </div>

                <div class="col-xl-6">
                  <div class="submit-field">
                    <h5><%= I18n.t('.user.all.edit.email') %></h5>
                    <%= f.text_field :email, class:"with-border" %>
                  </div>
                </div>

                <div class="col-xl-6">
                  <div class="submit-field">
                    <h5><%= I18n.t('.user.all.edit.birthdate') %></h5>
                    <div class="" style="display:flex">
      								<%= f.date_select :birthdate,order: [:day, :month, :year], class:"date-time",start_year: 100.year.ago.year, required: true%>
      							</div>
                  </div>
                </div>

                <div class="col-xl-6">
                  <div class="submit-field">
                    <h5><%= I18n.t('.user.all.edit.phone_number') %></h5>
                    <%= f.text_field :phone_number, class:"with-border" %>
                  </div>
                </div>
                <% if current_user.worker? %>
                  <div class="col-xl-6">
                    <div class="submit-field">
                      <h5><%= I18n.t('.user.all.edit.profession') %></h5>
                      <%= f.collection_select :profession_id, @professions,:id,:name,{}, {class:"selectpicker",id:"profession_id"}%>
                    </div>
                  </div>
                  <div class="col-xl-6">
                    <div class="submit-field">
                      <h5><%= I18n.t('.user.all.edit.subcategory') %></h5>
                      <div id="subcategory_select">
                        <%= f.collection_select :subcategory_ids, @subcategories,:id,:name,{},{class:"selectpicker",multiple: true,id:"subcategory_id"}%>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-6">
                    <div class="submit-field">
                      <h5><i class="icon-feather-facebook"></i><%= I18n.t('.user.all.edit.facebook') %></h5>
                      <%= f.text_field :facebook_profile, class:"with-border" %>
                    </div>
                  </div>

                  <div class="col-xl-6">
                    <div class="submit-field">
                      <h5><i class="icon-feather-instagram"></i><%= I18n.t('.user.all.edit.instagram') %></h5>
                      <%= f.text_field :instagram_profile, class:"with-border" %>
                    </div>
                  </div>

                  <div class="col-xl-6">
                    <div class="submit-field">
                      <h5><i class="icon-line-awesome-pinterest"></i><%= I18n.t('.user.all.edit.pinterest') %></h5>
                      <%= f.text_field :pinterest_profile, class:"with-border" %>
                    </div>
                  </div>

                  <div class="col-xl-6">
                    <div class="submit-field">
                      <h5><i class="icon-feather-twitter"></i><%= I18n.t('.user.all.edit.twitter') %></h5>
                      <%= f.text_field :twitter_profile, class:"with-border" %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% if current_user.worker? %>
      <div class="col-xl-12">
        <div class="dashboard-box">
          <div class="headline">
            <h3><%= I18n.t('.user.pro_profile.edit.your_banner') %></h3>
          </div>
          <div class="content banner_place">
            <img class="banner-pic" height="300px" src= <%= @user.banner_url %> alt=""  />
          </div>
          <label id="banner_upload"class=" banner margin-top-10 margin-left-10">
            <%= I18n.t('.user.pro_profile.edit.change_banner') %>
            <span style="display:none">
              <%= f.file_field :banner, class:"banner-upload" %>
            </span>
          </label>
        </div>
      </div>
      <div class="col-xl-12">
        <div class="dashboard-box">
          <div class="headline">
            <h3>  <%= I18n.t('.user.pro_profile.edit.your_credits') %></h3>
          </div>
          <div class="content">
            <ul class="fields-ul">
              <li>
                <div class="row">
                  <div class="col-xl-12">
                    <h3><%= I18n.t('.user.pro_profile.edit.credits_balance') %> <strong><%= current_user.current_credits.to_i %></strong> <%= I18n.t('.user.pro_profile.edit.credits') %></h3>
                    <%= link_to buy_credits_path, class: "button", style: "margin-top: 20px;" do %>
                      <%= I18n.t('.user.pro_profile.edit.buy_credits') %>
                    <% end %>
                    <%= link_to credits_payments_invoices_path, class: "button", style: "margin-top: 20px;" do %>
                      <%= I18n.t('show_invoices') %>
                    <% end %>
                    <!-- <a class="button" href="/theme/user/hireo/pro-points-buy.html" style="margin-top: 20px;"></a> -->
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-12">
        <div class="dashboard-box">
          <div class="headline">
            <h3><i class="icon-material-outline-money"></i>  <%= I18n.t('.user.pro_profile.edit.available_payout_amount') %></h3>
          </div>
          <div class="content">
            <ul class="fields-ul">
              <li>
                <div class="row">
                  <div class="col-xl-12">
                    <h3><%= I18n.t('.user.pro_profile.edit.payout') %> <strong><%= currency_formated current_user.available_payout_amount.to_f %></strong> </h3>
                    <%= link_to stripe_payouts_path, class: "button", style: "margin-top: 20px;", method: :post do %>
                      <%= I18n.t('.user.pro_profile.edit.transfer_available_payout_amount') %>
                    <% end %>
                    <!-- <a class="button" href="/theme/user/hireo/pro-points-buy.html" style="margin-top: 20px;"></a> -->
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Dashboard Box -->
      <div class="col-xl-12">
        <div class="dashboard-box">

          <!-- Headline -->
          <div class="headline">
            <h3><i class="icon-material-outline-face"></i>  <%= I18n.t('.user.pro_profile.edit.your_profile') %></h3>
          </div>

          <div class="content">
            <ul class="fields-ul">
              <li>
                <div class="row">
                  <div class="col-xl-6">
                    <div class="submit-field">
                      <div class="bidding-widget">
                        <!-- Headline -->
                        <span class="bidding-detail"><%= raw I18n.t('.user.pro_profile.edit.fix_your_hour_rate') %></span>
                        <!-- Slider -->
                        <div class="bidding-value margin-bottom-10"><span id="biddingVal"></span>€</div>
                        <input id="slider"class="bidding-slider" type="text" value="" data-slider-handle="custom" data-slider-currency="€" data-slider-min="0" data-slider-max="1000" data-slider-value=" <%=current_user.price_rate%>" data-slider-step="1" data-slider-tooltip="hide" />
                        <%= f.hidden_field :price_rate, id:"price_rate" %>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-6">
                    <div class="submit-field">
                      <h5><%= raw I18n.t('.user.pro_profile.edit.your_skills') %></h5>
                      <div id="skills">
                        <%= f.select :skills, @user.skills, {include_hidden: false }, {multiple: true,id:"tag_select"} %>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="col-xl-12">
                    <div class="submit-field">
                      <h5><%= raw I18n.t('.user.pro_profile.edit.description') %></h5>
                      <%= f.text_area :description, col:'5', rows:'5', class:"with-border" %>
                    </div>
                  </div>

                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>


      <!-- Dashboard Box -->
      <div class="col-xl-12">
        <div class="dashboard-box">

          <!-- Headline -->
          <div class="headline">
            <h3><i class="icon-material-outline-business"></i> <%= I18n.t('.user.company.edit.your_company_infos') %></h3>
          </div>

          <div class="content with-padding padding-bottom-0">
            <%= f.fields_for :company, current_user.get_or_build_company do |c| %>
              <div class="row">
                <div class="col">
                  <div class="row">
                    <div class="col-xl-6">
                      <div class="submit-field">
                        <h5><%= raw I18n.t('.user.company.edit.name') %></h5>
                        <%= c.text_field :name, class:"with-border" %>
                      </div>
                    </div>
                    <%= c.fields_for :address, c.object.get_or_build_address do |a| %>
                      <div class="col-xl-6">
                        <div class="submit-field">
                          <h5><%= raw I18n.t('.user.company.edit.address') %></h5>
                          <%= a.text_field :complete_address, class:"with-border",id: :autocomplete_address %>
                          <%= a.hidden_field :street, id: :street_id %>
                          <%= a.hidden_field :city, id: :locality %>
                          <%= a.hidden_field :zip, id: :postal_code %>
                          <%= a.hidden_field :country, id: :country %>
                        </div>
                      </div>
                    <% end %>

                    <div class="col-xl-6">
                      <div class="submit-field">
                        <h5><%= raw I18n.t('.user.company.edit.website') %></h5>
                        <%= c.text_field :website, class:"with-border" %>
                      </div>
                    </div>
                    <div class="col-xl-6">
                      <div class="submit-field">
                        <h5><%= raw I18n.t('.user.company.edit.iban') %></h5>
                        <%= c.text_field :iban, class:"with-border"%>
                      </div>
                    </div>
                    <div class="col-xl-6">
                      <div class="submit-field">
                        <h5><%= raw I18n.t('.user.company.edit.currency') %></h5>
                        <%= c.currency_select(:currency, ["EUR", "CHF"], {}, {prompt: true,class: "form-control"}) -%>

                      </div>
                    </div>

                    <div class="col-xl-12">
                      <div class="checkbox">
                        <%= c.check_box :subject_to_vat,id:"checkbox1" %>
                				<label for="checkbox1"><span class="checkbox-icon"></span> <%= raw I18n.t('.user.company.edit.is_your_company_subject_to_vat') %></label>
                			</div>
                    </div>

                    <div class="col-xl-6" style="display:none"id="vatNumber">
                      <div class="submit-field">
                        <h5><%= raw I18n.t('.user.company.edit.vat_number') %></h5>
                        <%= c.text_field :vat_number, class:"with-border" %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <!-- Dashboard Box -->
    <div class="col-xl-12">
      <div id="test1" class="dashboard-box">

        <!-- Headline -->
        <div class="headline">
          <h3><i class="icon-material-outline-lock"></i>  <%= I18n.t('.user.all.edit.password') %></h3>
        </div>

        <div class="content with-padding">
          <div class="row justify-content-end">
            <div class="col-xl-6">
              <div class="submit-field">
                <h5><%= raw I18n.t('.user.all.edit.new_password') %>
                <% if @minimum_password_length %>
                  <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
                <% end %></h5>
                <%= f.password_field :password,autocomplete: "new-password",class:"with-border" %>
              </div>
            </div>

            <div class="col-xl-6">
              <div class="submit-field">
                <h5><%= raw I18n.t('.user.all.edit.repeat_new_password') %></h5>
                <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"with-border" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Button -->
    <div class="col-xl-12">
      <%= f.submit I18n.t('.user.all.edit.save_modification'),class:"button ripple-effect big margin-top-30", id: "submit-form-button" %>
    </div>
  </div>
<% end %>
<!-- Row / End -->
<%= content_for :body_script do %>
  <script type="text/javascript">
    $(document).ready(function () {
      $('#checkbox1').change(function () {
        if (this.checked)
          document.getElementById('vatNumber').style.display = "block";
        else
          document.getElementById('vatNumber').style.display = "none";
      });
  });
  </script>

  <script type="text/javascript">
    $(document).ready(function(){
      $('#profession_id').selectpicker({
        title : 'Veuillez sélectionner une profession'
      });
      $('#subcategory_id').selectpicker({
        title : 'Choisis ta/tes spécialité(s)',
        noneSelectedText: ''
      });
    });
    $(document).ready(function () {
      $('#profession_id').change(function(e){
        var profession_id = $(this).val();
        $.ajax({
            type: "POST",
            url: "/users/delete_subcategory",
            success: function(data){
              $.ajax({
                  type: "POST",
                  url: "/users/get_subcategories",
                  data: {profession_id: profession_id}
              });
            }
        });
      });
    });
  </script>
  <script type="text/javascript">
    $(document).ready(function () {
      $("#subcategory_id").on("change", function (e) {
        if ($(this)[0].length) {
          $.ajax({
              type: "POST",
              url: "/users/new_subcategory",
              data: {subcategory: $(this)[0].value}
          });
        }
      });
    });
  </script>
  <script type="text/javascript">
    $(document).ready(function () {
      $("#tag_select").select2({
        createTag: function (params) {
          var term = $.trim(params.term);

          if (term === '') {
            return null;
          }

          return {
            id: term,
            text: term,
            newTag: true // add additional parameters
          }
        },
        theme: "classic",
        tags: true,
        allowClear: true,
        tokenSeparators: [',', ' '],
        multiple: true
      }).on('select2:unselecting', function (e) {
          var skill_name = e.params.args.data.text;
          $.ajax({
            url: "/users/skill",
            type: "GET",
            dataType: "script",
            data: { "skills": skill_name }
          });
      });
    });
     $(document).ready(function(){
        $("#slider").change(function(){
          $('#price_rate').val($(this).val())
        });
      });
  </script>
    <% if current_user.worker? %>
      <script src="https://js.stripe.com/v3/" data-no-turbolink></script>
      <script type="text/javascript">
        const stripe = Stripe('<%= Rails.application.credentials.dig(Rails.env.to_sym, :stripe, :publishable_key)  %>');
        const myForm = document.querySelector('#edit_user');
        myForm.addEventListener('submit', handleForm);

        async function handleForm(event) {
        event.preventDefault();
        <% if current_user.stripe_account_id.present? %>
          const accountResult = await stripe.createToken('account', {
            // business_type: 'individual',
            business_type: 'company',
            company: {
              name: document.querySelector('#user_company_attributes_name').value,
              address: {
                line1: document.querySelector('#street_id').value,
                city: document.querySelector('#locality').value,
                state: document.querySelector('#country').value,
                postal_code: document.querySelector('#postal_code').value,
              },

            },
          });
        <% else %>
          const accountResult = await stripe.createToken('account', {
            // business_type: 'individual',
            business_type: 'company',
            company: {
              name: document.querySelector('#user_company_attributes_name').value,
              address: {
                line1: document.querySelector('#street_id').value,
                city: document.querySelector('#locality').value,
                state: document.querySelector('#country').value,
                postal_code: document.querySelector('#postal_code').value,
              },

            },
            tos_shown_and_accepted: true,

          });
        <% end %>
        <% if current_user.stripe_person_id.present? %>
          const personResult = await stripe.createToken('person', {
            person: {
              first_name: document.querySelector('#user_firstname').value,
              last_name: document.querySelector('#user_lastname').value,
              email: document.querySelector('#user_email').value,
              dob: {
                day: document.querySelector('#user_birthdate_3i').value,
                month: document.querySelector('#user_birthdate_2i').value,
                year: document.querySelector('#user_birthdate_1i').value
              },
              address: {
                line1: document.querySelector('#street_id').value,
                city: document.querySelector('#locality').value,
                state: document.querySelector('#country').value,
                postal_code: document.querySelector('#postal_code').value,
              }
            },
          });
        <% else %>
          const personResult = await stripe.createToken('person', {
            person: {
              first_name: document.querySelector('#user_firstname').value,
              last_name: document.querySelector('#user_lastname').value,
              email: document.querySelector('#user_email').value,
              dob: {
                day: document.querySelector('#user_birthdate_3i').value,
                month: document.querySelector('#user_birthdate_2i').value,
                year: document.querySelector('#user_birthdate_1i').value
              },
              address: {
                line1: document.querySelector('#street_id').value,
                city: document.querySelector('#locality').value,
                state: document.querySelector('#country').value,
                postal_code: document.querySelector('#postal_code').value,
              },
              relationship: {
                representative: true,
                owner: true,
                director: true,
                percent_ownership: 100,
              }
            },
          });
        <% end %>
          var bankResult = null
          if (document.querySelector('#user_company_attributes_iban').value == "" || document.querySelector('#user_company_attributes_iban').value == null) {
            var bankResult = null
          } else {
            const bankResult = await stripe.createToken('bank_account', {
              country: "FR",
              currency: document.querySelector('#user_company_attributes_currency').value.toLowerCase(),
              account_number: document.querySelector('#user_company_attributes_iban').value,
            });
            if (bankResult.error != null) {
              if (bankResult.error.code == "account_number_invalid") {
                toastr['error']("Vérifiez votre IBAN");
              }
              toastr['error'](bankResult.error.message);
            }
          }



        if (personResult.error != null) {
          if (personResult.error.param == "person[dob][year]") {
            toastr['error']("Vérifiez votre date de naissance (vous devez avoir plus de 18 ans )");
          } else {
            toastr['error'](personResult.error.message);
          }
        }
        if (accountResult.error != null) {
          console.log(accountResult.error);
          toastr['error'](accountResult.error.message);
        }
        if (accountResult.token && personResult.token) {
          document.querySelector('#token-account').value = accountResult.token.id;
          document.querySelector('#token-person').value = personResult.token.id;
          if (bankResult != null) {
            document.querySelector('#token-bank').value = bankResult.token.id;
            console.log(document.querySelector('#token-bank').value);
          }
          myForm.submit();
        }
        $("#submit-form-button").prop("disabled", false);
        }
      </script>
    <% end %>
<% end %>
