<%= content_for :body_style do %>
<link rel="stylesheet" href="/theme/user/hireo/css/progress_bar.css">
<% end %>
<!-- Dashboard Headline -->
<div class="dashboard-headline">
  <h3><%= I18n.t('.user.all.edit.my_personal_info') %></h3>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <!-- Row -->
  <div class="row">
    <!-- Dashboard Box -->
    <div class="col-xl-12">
      <div class="dashboard-box margin-top-0">

        <!-- Headline -->
        <div class="headline">
          <h3><i class="icon-material-outline-account-circle"></i> <%= I18n.t('.user.all.edit.my_account') %></h3>
        </div>

        <div class="content with-padding padding-bottom-0">

          <div class="row">

            <div class="col-auto">
              <div class="avatar-wrapper" data-tippy-placement="bottom" title="Change Avatar">

                <% if @user.avatar_url.present? %>
                  <img class="profile-pic" src= <%= @user.avatar_url %> alt="" />
                <% else %>
                  <img class="profile-pic" src="images/user-avatar-placeholder.png" alt="" />
                <% end %>
                  <div class="upload-button"></div>
                <%= f.file_field :avatar, class:"file-upload" %>
              </div>
            </div>

            <div class="col">
              <div class="row">

                <div class="col-xl-6">
                  <div class="submit-field">
                    <h5><%= I18n.t('.user.all.edit.firstname') %></h5>
                    <%= f.text_field :firstname, class:"with-border" %>
                  </div>
                </div>

                <div class="col-xl-6">
                  <div class="submit-field">
                    <h5><%= I18n.t('.user.all.edit.lastname') %></h5>
                    <%= f.text_field :lastname, class:"with-border" %>
                  </div>
                </div>

                <div class="col-xl-6">
                  <div class="submit-field">
                    <h5><%= I18n.t('.user.all.edit.email') %></h5>
                    <%= f.text_field :email, class:"with-border" %>
                  </div>
                </div>

                <div class="col-xl-6">
                  <div class="submit-field">
                    <h5><%= I18n.t('.user.all.edit.phone_number') %></h5>
                    <%= f.text_field :phone_number, class:"with-border" %>
                  </div>
                </div>
                <% if current_user.is_worker %>
                  <div class="col-xl-6">
                    <div class="submit-field">
                      <h5><%= I18n.t('.user.all.edit.profession') %></h5>
                      <%= f.collection_select :profession_id, Profession.all,:id,:name,{}, {class:"form-control",prompt: true,include_hidden: true}%>
                    </div>
                  </div>

                  <div class="col-xl-6">
                    <div class="submit-field">
                      <h5><%= I18n.t('.user.all.edit.category') %></h5>
                      <%= f.collection_select :category_id, Category.all,:id,:name,{class:"form-control",prompt: true,include_hidden: true,class:"form-control" },{id:"category_id"}%>
                    </div>
                  </div>

                  <div class="col-xl-6">
                    <div class="submit-field">
                      <h5><%= I18n.t('.user.all.edit.facebook') %></h5>
                      <%= f.text_field :facebook_profile, class:"with-border" %>
                    </div>
                  </div>

                  <div class="col-xl-6">
                    <div class="submit-field">
                      <h5><%= I18n.t('.user.all.edit.instagram') %></h5>
                      <%= f.text_field :instagram_profile, class:"with-border" %>
                    </div>
                  </div>

                  <div class="col-xl-6">
                    <div class="submit-field">
                      <h5><%= I18n.t('.user.all.edit.pinterest') %></h5>
                      <%= f.text_field :pinterest_profile, class:"with-border" %>
                    </div>
                  </div>

                  <div class="col-xl-6">
                    <div class="submit-field">
                      <h5><%= I18n.t('.user.all.edit.twitter') %></h5>
                      <%= f.text_field :twitter_profile, class:"with-border" %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% if current_user.is_worker %>
      <div class="col-xl-12">
        <div class="dashboard-box">
          <div class="headline">
            <h3><i class="icon-material-outline-face"></i>  <%= I18n.t('.user.pro_profile.edit.your_credits') %></h3>
          </div>
          <div class="content">
            <ul class="fields-ul">
              <li>
                <div class="row">
                  <div class="col-xl-12">
                    <h3><%= I18n.t('.user.pro_profile.edit.credits_balance') %> <strong><%= current_user.current_credits.to_i %></strong> <%= I18n.t('.user.pro_profile.edit.credits') %></h3>
                    <%= link_to buy_credits_path, class: "button", style: "margin-top: 20px;" do %>
                      <%= I18n.t('.user.pro_profile.edit.buy_credits') %>
                    <% end %>
                    <!-- <a class="button" href="/theme/user/hireo/pro-points-buy.html" style="margin-top: 20px;"></a> -->
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Dashboard Box -->
      <div class="col-xl-12">
        <div class="dashboard-box">

          <!-- Headline -->
          <div class="headline">
            <h3><i class="icon-material-outline-face"></i>  <%= I18n.t('.user.pro_profile.edit.your_profile') %></h3>
          </div>

          <div class="content">
            <ul class="fields-ul">
              <li>
                <div class="row">
                  <div class="col-xl-8">
                    <h3><%= I18n.t('.user.pro_profile.edit.your_badge') %></h3>
                    <!-- Multi step form -->
                    <div class="progress">
                      <span class="bar done"></span>
                      <div class="circle bronze">

                      </div>
                      <span class="bar done"></span>
                      <div class="circle argent">
                      </div>
                      <span class="bar done"></span>

                      <div class="circle or">

                      </div>
                      <span class="bar done"></span>
                    </div>
                  </div>
                  <div class="col-xl-4">
                    <p>Explication des badges à venir</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="col-xl-6">
                    <div class="submit-field">
                      <div class="bidding-widget">
                        <!-- Headline -->
                        <span class="bidding-detail"><%= raw I18n.t('.user.pro_profile.edit.fix_your_hour_rate') %></span>
                        <!-- Slider -->
                        <div class="bidding-value margin-bottom-10"><span id="biddingVal"></span>€</div>
                        <input id="slider"class="bidding-slider" type="text" value="" data-slider-handle="custom" data-slider-currency="€" data-slider-min="0" data-slider-max="1000" data-slider-value=" <%=current_user.price_rate%>" data-slider-step="1" data-slider-tooltip="hide" />
                        <%= f.hidden_field :price_rate, id:"price_rate" %>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-6">
                    <div class="submit-field">
                      <h5><%= raw I18n.t('.user.pro_profile.edit.your_skills') %></h5>
                      <%= f.collection_select :tag_ids, Tag.all, :id, :name, {include_hidden: true }, {class:"form-control",multiple: true,id:"tag_select"} %>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="col-xl-12">
                    <div class="submit-field">
                      <h5><%= raw I18n.t('.user.pro_profile.edit.description') %></h5>
                      <textarea cols="30" rows="5" class="with-border">Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</textarea>
                    </div>
                  </div>

                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>


      <!-- Dashboard Box -->
      <div class="col-xl-12">
        <div class="dashboard-box">

          <!-- Headline -->
          <div class="headline">
            <h3><i class="icon-material-outline-account-circle"></i> <%= I18n.t('.user.company.edit.your_company_infos') %></h3>
          </div>

          <div class="content with-padding padding-bottom-0">
            <%= f.fields_for :company do |c| %>
              <div class="row">
                <div class="col">
                  <div class="row">
                    <div class="col-xl-6">
                      <div class="submit-field">
                        <h5><%= raw I18n.t('.user.company.edit.name') %></h5>
                        <%= c.text_field :name, class:"with-border" %>
                      </div>
                    </div>
                    <%= c.fields_for :address do |a| %>
                      <div class="col-xl-6">
                        <div class="submit-field">
                          <h5><%= raw I18n.t('.user.company.edit.address') %></h5>
                          <%= a.text_field :complete_address, class:"with-border",id: :autocomplete_address %>
                          <%= a.hidden_field :street, id: :street_id %>
                          <%= a.hidden_field :city, id: :locality %>
                          <%= a.hidden_field :zip, id: :postal_code %>
                          <%= a.hidden_field :country, id: :country %>
                        </div>
                      </div>
                    <% end %>
                    <div class="col-xl-6">
                      <div class="submit-field">
                        <h5><%= raw I18n.t('.user.company.edit.iban') %></h5>
                        <%= c.text_field :iban, class:"with-border" %>
                      </div>
                    </div>
                    <div class="col-xl-6">
                      <div class="submit-field">
                        <h5><%= raw I18n.t('.user.company.edit.website') %></h5>
                        <%= c.text_field :website, class:"with-border" %>
                      </div>
                    </div>
                    <div class="col-xl-6">
                      <div class="submit-field">
                        <h5><%= raw I18n.t('.user.company.edit.currency') %></h5>
                        <%= c.currency_select(:currency, ["EUR", "CHF"], {}, {prompt: true,class: "form-control"}) -%>

                      </div>
                    </div>

                    <div class="col-xl-12">
                      <div class="checkbox">
                        <%= c.check_box :subject_to_vat,id:"checkbox1" %>
                				<label for="checkbox1"><span class="checkbox-icon"></span> <%= raw I18n.t('.user.company.edit.is_your_company_subject_to_vat') %></label>
                			</div>
                    </div>

                    <div class="col-xl-6" style="display:none"id="vatNumber">
                      <div class="submit-field">
                        <h5><%= raw I18n.t('.user.company.edit.vat_number') %></h5>
                        <%= c.text_field :vat_number, class:"with-border" %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <!-- Dashboard Box -->
    <div class="col-xl-12">
      <div id="test1" class="dashboard-box">

        <!-- Headline -->
        <div class="headline">
          <h3><i class="icon-material-outline-lock"></i>  <%= I18n.t('.user.all.edit.password') %></h3>
        </div>

        <div class="content with-padding">
          <div class="row justify-content-end">
            <div class="col-xl-6">
              <div class="submit-field">
                <h5><%= raw I18n.t('.user.all.edit.new_password') %>
                <% if @minimum_password_length %>
                  <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
                <% end %></h5>
                <%= f.password_field :password, placeholder:t('.leave_blank_if_you_don_t_want_to_change_it'),autocomplete: "new-password",class:"with-border" %>
              </div>
            </div>

            <div class="col-xl-6">
              <div class="submit-field">
                <h5><%= raw I18n.t('.user.all.edit.repeat_new_password') %></h5>
                <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"with-border" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Button -->
    <div class="col-xl-12">
      <%= f.submit I18n.t('.user.all.edit.save_modification'),class:"button ripple-effect big margin-top-30" %>
    </div>
  </div>
<% end %>
<!-- Row / End -->


  <script type="text/javascript">
    $(document).ready(function () {
      $('#checkbox1').change(function () {
        if (this.checked)
          document.getElementById('vatNumber').style.display = "block";
        else
          document.getElementById('vatNumber').style.display = "none";
      });
  });
  </script>
  <script type="text/javascript">
    $(document).ready(function () {
      $("#tag_select").select2({
        theme: "bootstrap",
        multiple: true
      })
    });
    $('#category_id').change( function() {
	   var category_id = this.value;
  	   $.ajax({
  	     url: "/users/get_tags",
  	     type: "GET",
  	     dataType: "script",
  	     data: { "category_id": category_id }
  	   });
  	 });
     $(document).ready(function(){
        $("#slider").change(function(){
          $('#price_rate').val($(this).val())
        });
      });
  </script>
