<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />
<title>note mail</title>

<style type="text/css">

	    body{width: 100%; background-color: #f0f0f0; margin:0; padding:0; -webkit-font-smoothing: antialiased;mso-margin-top-alt:0px; mso-margin-bottom-alt:0px; mso-padding-alt: 0px 0px 0px 0px;}

        p,h1,h2,h3,h4{margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;}

        span.preheader{display: none; font-size: 1px;}

        html{width: 100%;}

        table{font-size: 12px;border: 0;}

		.menu-space{padding-right:25px;}

		a,a:hover { text-decoration:none; color:#18c197;}


@media only screen and (max-width:640px)

{
	body{width:auto!important;}
	table[class=main] {width:440px !important;}
	table[class=two-left] {width:420px !important; margin:0px auto;}
	table[class=full] {width:100% !important; margin:0px auto;}
	table[class=alaine] { text-align:center;}
	table[class=menu-space] {padding-right:0px;}
	table[class=banner] {width:438px !important;}
	table[class=menu] {width:438px !important; margin:0px auto; border-bottom:#e1e0e2 solid 1px;}
	table[class=date] {width:438px !important; margin:0px auto; text-align:center;}
	table[class=two-left-inner] {width:400px !important; margin:0px auto;}
	table[class=menu-icon] { display:block;}
	table[class=two-left-menu] {text-align:center;}

	}

@media only screen and (max-width:479px)
{
	body{width:auto!important;}
	table[class=main]  {width:310px !important;}
	table[class=two-left] {width:300px !important; margin:0px auto;}
	table[class=full] {width:100% !important; margin:0px auto;}
	table[class=alaine] { text-align:center;}
	table[class=menu-space] {padding-right:0px;}
	table[class=banner] {width:308px !important;}
	table[class=menu] {width:308px !important; margin:0px auto; border-bottom:#e1e0e2 solid 1px;}
	table[class=date] {width:308px !important; margin:0px auto; text-align:center;}
	table[class=two-left-inner] {width:280px !important; margin:0px auto;}
	table[class=menu-icon] { display:none;}
	table[class=two-left-menu] {width:310px !important; margin:0px auto;}


}



</style>

</head>

<body yahoo="fix" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">


<!--Main Table Start-->



  <!--Top Space End-->

    <!--Logo Part Start-->

<div style="display:flex;justify-content:center">
  <%= image_tag('/theme/user/hireo/images/logo.png',{:style =>'width:20%;height:auto'}) %>
</div>

  <!--Logo Part End-->

    <!--Title Part Start-->

  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top"><table width="80%" border="0" align="center" cellpadding="0" cellspacing="0" class="main">
      <tr>
        <td align="center" valign="middle" bgcolor="#18c197" style="-moz-border-radius: 8px 8px 0px 0px; border-radius: 8px 8px 0px 0px;"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
           <td height="25" align="center" valign="middle" style="line-height:25px; font-size:25px;">&nbsp;</td>
            </tr>
          <tr>
            <td align="center" valign="middle" style="font-family:'Open Sans', Verdana, Arial; font-size:30px; color:#FFF; font-weight:normal;" mc:edit="nm4-02"><multiline> <%= t('.new_invoice') %></multiline></td>
            </tr>
          <tr>
           <td height="25" align="center" valign="middle" style="line-height:25px; font-size:25px;">&nbsp;</td>
            </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>

  <!--Title Part End-->

    <!--Content Part Start-->

<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top"><table width="80%" border="0" align="center" cellpadding="0" cellspacing="0" class="main">
      <tr>
          <td align="center" valign="middle" bgcolor="#FFFFFF"><table width="80%" border="0" cellspacing="0" cellpadding="0" class="two-left-inner">
          <tr>
            <td height="80" align="center" valign="middle" style="line-height:80px; font-size:80px;">&nbsp;</td>
          </tr>
          <tr>
              <td align="center" valign="middle"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <td align="center" valign="middle" style="font-family:'Open Sans', Verdana, Arial; font-size:24px; color:#18c197; font-weight:normal; line-height:28px;" mc:edit="nm4-03"><multiline> <%= t('.for_job') %></multiline></td>
              </tr>
              <tr>
                 <td height="10" align="center" valign="middle" style="line-height:10px; font-size:10px;">&nbsp;</td>
              </tr>


               <tr>
                 <td height="10" align="center" valign="middle" style="line-height:10px; font-size:10px;">&nbsp;</td>
              </tr>

              <tr>
            <td align="center" valign="middle" style="font-family:'Open Sans', Verdana, Arial; font-size:14px; color:#767676; font-weight:normal; line-height:32px;" mc:edit="nm4-05"><multiline> <%= t('.you_received_new_invoice') %> </multiline></td>
          </tr>

              <tr>
                 <td height="35" align="center" valign="middle" style="line-height:35px; font-size:35px;">&nbsp;</td>
              </tr>
            </table></td>
          </tr>
          <tr>
                <td align="center" valign="middle"><table width="80%" border="0" align="center" cellpadding="0" cellspacing="0">

            </table></td>
          </tr>


          <tr>
            <td align="center" valign="middle" style="font-family:'Open Sans', Verdana, Arial; font-size:18px; color:#18c197; font-weight:normal; line-height:28px;" mc:edit="nm4-08"><multiline>lien</multiline></td>
          </tr>
          <tr>
            <td height="80" align="center" valign="middle" style="line-height:80px; font-size:80px;">&nbsp;</td>
          </tr>
          </table></td>
      </tr>
    </table></td>
  </tr>
</table>

<!--Content Part End-->

<!--Footer Menu Part Start-->

<%= render 'layouts/mailer/footer' %>


<!--Footer Menu Part End-->


    </td>
  </tr>
</table>

<!--Main Table End-->

</body>
</html>
