<p id="notice"><%= notice %></p>

<h1>Under Categories</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subcategories.each do |under_category| %>
      <tr>
        <td><%= link_to 'Show', under_category %></td>
        <td><%= link_to 'Edit', edit_under_category_path(under_category) %></td>
        <td><%= link_to 'Destroy', under_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Under Category', new_under_category_path %>
