
<!-- Dashboard Headline -->
<div class="dashboard-headline">
	<h3> <%= t('.your_missions') %> </h3>
</div>
<div class="row">
	<div class="col-xl-12">
		<div class="row justify-content-end">
			<div class="col-xl-3">
				<% grouped_options = grouped_options = [[t('.status'),[[t('.created'),'created'],[t('.in_progress'),'in_progress'],[t('.finished'),'completed'],[t('.aborted'),'aborted']]]] %>
				<%= form_tag("filter", :remote => true) do %>
					<%= t('.filter_by') %>
          <%= select_tag 'filter',grouped_options_for_select(grouped_options), prompt: t('.select_something'), class:"custom-select", id:"job_filter" %>
        <% end %>
			</div>
		</div>
		<div class="listings-container margin-top-35" id="job_list">
			<%= render "job_list" %>
		</div>
	</div>
	<div class="col-md-12" id="pagination">
		<!-- Pagination -->
		<div class="pagination-container">
			<%= paginate @jobs%>
		</div>
	</div>
</div>
<%= content_for :body_script do %>
	<script type="text/javascript">
		$(document).ready(function(){
			$("#job_filter").bind('change', function() {
				$.ajax({
					url: '/jobs',
					type: "GET",
					dataType: "script",
					data: {"filter": $("#job_filter").val()}
				});
			});
		});
	</script>
<% end %>
