
<!-- Dashboard Headline -->
<div class="dashboard-headline">
	<h3>Créer un portfolio</h3>
</div>

<!-- Row -->
<div class="row">
	<div class="col-xl-12">
		<%= form_with(model: @portfolio, class:"dropzone",id:"my-awesome-dropzone") do |f| %>
		<div class="fallback">
       <%= file_field_tag "picture[]", multiple: true%>
		</div>
		<%= f.collection_select(:job_id,  @jobs, :id, :name, placeholder: "Veuillez séléctionner un job") %>
		<% end %>
		<button class="button margin-top-20" id="submit-all"> <%= t('.create_portfolio') %></button>
	</div>
			<!-- Row / End -->
</div>
<%= content_for :body_script do %>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/dropzone.js" charset="utf-8"></script>
	<script type="text/javascript">
		Dropzone.autoDiscover = false;
	  var dropzone = new Dropzone ("#my-awesome-dropzone", {
			paramName: "portfolio[picture]",
			autoProcessQueue: false,
      uploadMultiple:true,
			acceptedFiles: "image/*, video/*",
			parallelUploads: 15,
			addRemoveLinks: true
	  });

		dropzone.on("success", (file, response, xhr) => {
			toastr.success(" <%= t('.create_with_success') %>",{timeOut: 1000})
		  window.location = '/portfolios/'+ response.portfolioId
		});
		dropzone.on("error", (file, response, xhr) => {
			toastr.error(" <%= t('.create_with_error') %>",{timeOut: 1000000})

		});
		$('#submit-all').click(function(){
	    dropzone.processQueue();
	  });
	</script>
<%end %>
