
<% if current_user.customer? && current_user.jobs.empty?%>
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <section id="not-found" class="center margin-top-50 margin-bottom-25">
          <h2><i class="icon-line-awesome-frown-o"></i></h2>
          <p><%= raw t('jobs.index.user_dont_have_job',create_job_link: link_to(t('jobs.index.here'), new_job_path, { target: '_blank' })) %></p>
        </section>
      </div>
    </div>
  </div>
<% elsif current_user.worker? && @jobs.empty? %>
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <section id="not-found" class="center margin-top-50 margin-bottom-25">
          <h2><i class="icon-line-awesome-frown-o"></i></h2>
          <p><%= t('jobs.index.this_is_no_mission') %></p>
        </section>
      </div>
    </div>
  </div>
<% elsif @jobs.empty? %>
  <div class="container">
  	<div class="row">
  		<div class="col-xl-12">
  			<section id="not-found" class="center margin-top-50 margin-bottom-25">
  				<h2><i class="icon-line-awesome-frown-o"></i></h2>
  				<p><%= t('jobs.index.unsucessful_research') %></p>
  			</section>
  		</div>
  	</div>
  </div>
<% else %>
  <% @jobs.each do |job| %>
    <div class="job-listing">
      <div class="job-listing-details">
        <!-- Details -->
        <div class="job-listing-description">
          <!-- <h4 class="job-listing-company">Hexagon <span class="verified-badge" title="Verified Employer" data-tippy-placement="top"></span></h4> -->
          <div style="display: flex;justify-content: space-between;">
            <%= link_to job_path(job.slug) do  %>
            <h3 class="job-listing-title"> <%= job.name %></h3>
            <% end %>
            <div class="">
              <%= link_to edit_job_path(job.slug) do  %>
                <i class="icon-line-awesome-edit"></i>
              <% end %>
              <%= link_to job_path(job.slug), method: :delete,data: {confirm: I18n.t('.jobs.edit.are_you_sure')} do %>
              <i class="icon-feather-trash-2"></i>
              <% end %>
            </div>
          </div>
          <p class="job-listing-text"> <%= job.description %></p>
        </div>
      </div>
      <div class="job-listing-footer">
        <ul>
          <% case job.status %>
            <% when 'created' %>
            <li><mark class="color" style="background-color: grey"><%= t('jobs.index.created') %></mark></li>
            <% when "in_progress" %>
            <mark class="color" style="background-color: #28b661"><%= t('jobs.index.in_progress') %></mark>
            <% when "completed" %>
            <mark class="color" style="background-color: #2a41e8"><%= t('jobs.index.finished') %></mark>
            <% when "cancelled" %>
            <mark class="color" style="background-color: #e53038"><%= t('jobs.index.aborted') %></mark>
          <% end %>
          <li><i class="icon-material-outline-account-balance-wallet"></i> <%= number_to_currency(job.min_price,strip_insignificant_zeros: true) +"-"+ number_to_currency(job.max_price,strip_insignificant_zeros: true)%></li>
          <li><i class="icon-material-outline-business-center"></i> <%= job.category.name %></li>
          <li><i class="icon-material-outline-local-atm"></i> <%= job.subcategory.name if job.subcategory %></li>
          <li><i class="icon-material-outline-location-on"></i> <%= job.format_delivery.name %></li>
          <li><i class="icon-material-outline-location-on"></i> <%=  t('jobs.index.time_range', min_time: job.min_time,max_time: job.max_time) if job.min_time %></li>
          <li><i class="icon-material-outline-location-on"></i> <%= job.localisation %></li>
          <li><i class="icon-material-outline-access-time"></i> <%= t('jobs.index.published_at') %> <%= time_ago_in_words(job.created_at) %></li>
        </ul>

      </div>
    </div>
  <%end%>
<% end %>
<%= content_for :body_script do  %>
  <script type="text/javascript">
    $('#first_link').on('click', function() {
              job_slug = $(this)[0].dataset.slug
              $.ajax({
                type: "GET",
                success: function(data, textStatus, jqXHR){
                  document.location= '/jobs/' + job_slug +'/edit'
                },
                error: function(jqXHR, textStatus, errorThrown){debugger}
              })
       });
  </script>
<% end %>
