
		<!-- Spacer -->
		<div class="margin-top-90"></div>
		<!-- Spacer / End-->

		<!-- Page Content
		================================================== -->
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					<h3 class="page-title"> <%= t('.your_missions') %> </h3>
					<div class="row justify-content-end">
						<div class="col-xl-3">
							<span>Trier par:</span>
							<%= form_tag("filter", :remote => true) do %>
			          <%= select_tag 'filter',options_for_select([[ "Approuvé", "approved"], [ "Non approuvé", "unapproved"],[ "Professionel", "pro"],[ "Client", "cus"]]), prompt: "Select something", class:"custom-select custom-select-lg mb-3" %>
			        <% end %>
						</div>
					</div>
					<div class="listings-container margin-top-35">
						<!-- Job Listing -->
            <% @jobs.each do |job| %>
              <%= link_to job_path(slug:job.slug), class:"job-listing" do%>
	              <div class="job-listing-details">

	                <!-- Details -->
	                <div class="job-listing-description">
	                  <!-- <h4 class="job-listing-company">Hexagon <span class="verified-badge" title="Verified Employer" data-tippy-placement="top"></span></h4> -->
	                  <h3 class="job-listing-title"> <%= job.name %></h3>
	                  <p class="job-listing-text"> <%= job.description %></p>

	                </div>
								</div>
	                <div class="job-listing-footer">
	  								<ul>
											<% case job.status %>
												<% when 'created' %>
												<li><mark class="color" style="background-color: grey"><%= t('.created') %></mark></li>
												<% when "in_progress" %>
												<mark class="color" style="background-color: #28b661"><%= t('.in_progress') %></mark>
												<% when "completed" %>
												<mark class="color" style="background-color: #2a41e8"><%= t('.finished') %></mark>
												<% when "cancelled" %>
												<mark class="color" style="background-color: #e53038"><%= t('.aborted') %></mark>
											<% end %>
	  									<li><i class="icon-material-outline-account-balance-wallet"></i> <%= number_to_currency(job.min_price) +"-"+ number_to_currency(job.max_price)%></li>
	  									<li><i class="icon-material-outline-business-center"></i> <%= job.category.name %></li>
	  									<li><i class="icon-material-outline-local-atm"></i> <%= job.subcategory.name if job.subcategory %></li>
	  									<li><i class="icon-material-outline-location-on"></i> Clé USB</li>
	  									<li><i class="icon-material-outline-location-on"></i> <%= job.max_time - job.min_time %> <%= t('.hour') %></li>
	  									<li><i class="icon-material-outline-location-on"></i> <%= job.localisation %></li>
	  									<li><i class="icon-material-outline-access-time"></i> <%= t('.published_at') %> <%= time_ago_in_words(job.created_at) %></li>
	  								</ul>

	  							</div>
              <% end %>
            <%end%>
					</div>
				</div>
			</div>
		</div>
		<!-- Pagination -->
		<div class="clearfix"></div>
		<div class="row" style="margin-top:50px">
			<div class="col-md-12">
				<!-- Pagination -->
				<div class="pagination-container margin-top-30 margin-bottom-60">
					<%= paginate @jobs%>
				</div>
			</div>
		</div>
		<!-- Pagination / End -->
