<div id="wrapper">

<!-- Header Container
================================================== -->
	<div class="clearfix"></div>
	<!-- Header Container / End -->


	<!-- Dashboard Container -->
	<div class="dashboard-container">
		<!-- Dashboard Content
		================================================== -->
		<div class="dashboard-content-container" data-simplebar>
			<div class="dashboard-content-inner" >

				<!-- Dashboard Headline -->
				<div class="dashboard-headline">
					<h3><%= raw I18n.t('.job.new.create_job') %></h3>
				</div>

				<!-- Row -->
				<div class="row">

					<!-- Dashboard Box -->
					<div class="col-xl-12">
						<div class="dashboard-box margin-top-0">

							<!-- Headline -->
							<div class="headline">
								<h3><i class="icon-feather-folder-plus"></i><%= raw I18n.t('.job.new.creation_form') %></h3>
							</div>

							<div class="content with-padding padding-bottom-10">
								<div class="row">

									<div class="col-xl-4">
										<div class="submit-field">
											<h5><%= raw I18n.t('.job.new.title') %></h5>
											<input type="text" class="with-border">
										</div>
									</div>

									<div class="col-xl-4">
										<div class="submit-field">
											<h5><%= raw I18n.t('.job.new.category') %></h5>
											<select class="selectpicker with-border" data-size="7" title="Selectionnez une catégorie">
												<option>Mariage</option>
												<option>Evenement personnel</option>
												<option>Evenement d'entreprise</option>
												<option>Personnel (Famille, protrait, couple)</option>
												<option>Fashion</option>
											</select>
										</div>
									</div>

									<div class="col-xl-4">
										<div class="submit-field">
											<h5><%= raw I18n.t('.job.new.under_category') %></h5>
											<select class="selectpicker with-border" data-size="7" title="Selectionnez une sous-catégorie">
												<option>Mariage</option>
												<option>Paysage</option>
												<option>Portrait</option>
											</select>
										</div>
									</div>

									<div class="col-xl-4">
										<div class="submit-field">
											<h5><%= raw I18n.t('.job.new.localisation') %></h5>
											<div class="input-with-icon">
												<div id="autocomplete-container">
													<input id="autocomplete-input" class="with-border" type="text" placeholder="ex: Nice, 75002, Suisse">
												</div>
												<i class="icon-material-outline-location-on"></i>
											</div>
										</div>
									</div>

									<div class="col-xl-4">
										<div class="submit-field">
											<h5><%= raw I18n.t('.job.new.estimated_budget') %></h5>
											<div class="row">
												<div class="col-xl-6">
													<div class="input-with-icon">
														<input class="with-border" type="text" placeholder="Min">
														<i class="currency">€</i>
													</div>
												</div>
												<div class="col-xl-6">
													<div class="input-with-icon">
														<input class="with-border" type="text" placeholder="Max">
														<i class="currency">€</i>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="col-xl-4">
										<div class="submit-field">
											<h5><%= raw I18n.t('.job.new.additional_services') %></h5>
											<div class="keywords-container">
												<div class="keyword-input-container">
													<input type="text" class="keyword-input with-border" placeholder="ex: Maquillage"/>
													<button class="keyword-input-button ripple-effect"><i class="icon-material-outline-add"></i></button>
												</div>
												<div class="keywords-list"><!-- keywords go here --></div>
												<div class="clearfix"></div>
											</div>

										</div>
									</div>
									<div class="col-xl-4">
										<div class="submit-field">
											<h5><%= raw I18n.t('.job.new.estimated_time') %></h5>
											<div class="row">
												<div class="col-xl-6">
													<div class="input-with-icon">
														<input class="with-border" type="text" placeholder="Min">
														<i class="currency">hr</i>
													</div>
												</div>
												<div class="col-xl-6">
													<div class="input-with-icon">
														<input class="with-border" type="text" placeholder="Max">
														<i class="currency">hr</i>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-4">
										<div class="submit-field">
											<h5><%= raw I18n.t('.job.new.desired_format') %></h5>
											<select class="selectpicker with-border" data-size="7" title="Sélectionnez un format">
												<option>Clé USB</option>
												<option>Drive</option>
												<option>DVD</option>
												<option>Papier</option>
											</select>
										</div>
									</div>

									<div class="col-xl-12">
										<div class="submit-field">
											<h5><%= raw I18n.t('.job.new.description') %></h5>
											<textarea cols="30" rows="5" class="with-border"></textarea>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-xl-12">
						<%= link_to show_path, class:"button ripple-effect big margin-top-30" do %>
						<i class="icon-feather-plus"></i><%= raw I18n.t('.job.new.job_creation') %>
						<%end%>
					</div>

				</div>
				<!-- Row / End -->

				<div class="dashboard-footer-spacer"></div>
			</div>
		</div>
		<!-- Dashboard Content / End -->

	</div>
	<!-- Dashboard Container / End -->

</div>
