<div class="dashboard-headline">
	<h3><%= @job.name %></h3>
</div>
<div class="row">
	<!-- Content -->
	<div class="col-xl-8 col-lg-8">
		<div class="single-page-section">
			<h3 class="margin-bottom-25"><%= t('.job_description') %></h3>
			<p><%= @job.description %></p>
		</div>
		<div class="single-page-section">
			<% if @job.worker.present? && current_user.customer?%>
			<h3 class="margin-bottom-25"><%= t('.pro_choosen') %></h3>
			<% end %>
			<% if current_user.worker? %>
			<h3 class="margin-bottom-25"><%= t('.the_client') %></h3>
			<% end %>
			<!-- Listings Container -->
			<div class="listings-container">
				<!-- Job Listing -->
				<div class="freelancers-container freelancers-list-layout margin-top-35">

					<!--Freelancer -->
				  <%if @job.worker.present? && current_user.customer?%>
						<div class="freelancer">

							<!-- Overview -->
							<div class="freelancer-overview">
								<div class="freelancer-overview-inner">

									<!-- Bookmark Icon -->
									<span class="bookmark-icon"></span>

									<!-- Avatar -->
									<div class="freelancer-avatar">
										<div class="verified-badge"></div>
										<a href="single-freelancer-profile.html"><img src="/theme/user/hireo/images/user-avatar-big-01.jpg" alt=""></a>
									</div>

									<!-- Name -->
									<div class="freelancer-name">
										<h4><%= @job.worker.full_name %></h4>
										<span><%= @job.worker.profession.name %></span>
										<!-- Rating -->
										<div class="freelancer-rating">
											<div class="star-rating" data-rating="3"></div>
										</div>
									</div>
								</div>
							</div>

							<!-- Details -->
							<div class="freelancer-details">
								<div class="freelancer-details-list">
									<ul>
										<li> <%= t('.localisation') %> <strong><i class="icon-material-outline-location-on"></i><%= @job.worker.company.address.city %></strong></li>
										<li><%= t('.price_rate') %> <strong><%= number_to_currency(@job.worker.price_rate,strip_insignificant_zeros: true)%></strong></li>
									</ul>
								</div>
								<a href="/theme/user/hireo/single-freelancer-profile.html" class="button button-sliding-icon ripple-effect">Voir son profil <i class="icon-material-outline-arrow-right-alt"></i></a>
							</div>
						</div>
					<% end %>
					<!-- Freelancer / End -->
					<!--Freelancer -->
					<% if current_user.worker? %>
							<div class="freelancer">

								<!-- Overview -->
								<div class="freelancer-overview">
									<div class="freelancer-overview-inner">

										<!-- Bookmark Icon -->
										<span class="bookmark-icon"></span>

										<!-- Avatar -->
										<div class="freelancer-avatar">
											<img src=" <%= @job.customer.avatar_url %>" alt="">
										</div>

										<!-- Name -->
										<div class="freelancer-name">
											<h4><%= @job.customer.full_name %></h4>
										</div>
									</div>
								</div>

								<!-- Details -->
								<div class="freelancer-details" style="display: flex; align-items: center; justify-content: flex-end;">
									<% if Room.where(author_id:current_user.id,receiver_id: @job.customer.id).or(Room.where(receiver_id:current_user.id,author_id: @job.customer.id)).exists? %>
										<%= link_to room_path(id: Room.where(author_id:current_user.id,receiver_id: @job.customer.id).or(Room.where(receiver_id:current_user.id,author_id: @job.customer.id)).first.id),class:"button button-sliding-icon ripple-effect" do %>
											<%= t('.your_conversation') %> <i class="icon-material-outline-arrow-right-alt"></i>
										<% end %>
									<% else %>
										<%= form_for Room.new do |form| %>
										  <%= form.hidden_field :author_id, value: current_user.id  %>
										  <%= form.hidden_field :receiver_id, value: @job.customer_id %>
										  <%= form.hidden_field :job_id, value: @job.id %>
										  <%= form.submit t('.send_mp_to_client'),class:"button ripple-effect" %>
										<% end %>
									<% end %>
								</div>
							</div>
					<% end %>
					<!-- Freelancer / End -->
				</div>
			</div>
			<!-- Listings Container / End -->

			<div class="dashboard-box margin-top-0">
				<!-- Headline -->
				<!-- <div class="headline">
					<h3><i class="icon-material-outline-face"></i> <%= t('.your_review') %></h3>
				</div> -->

				<!-- <div class="content">
					<ul class="dashboard-box-list">
						<li>
							<div class="boxed-list-item">

								<div class="item-content">
									<h4><%= @job.name %></h4>
									<%# <% if @job.reviews.empty? %> %>
									<span class="company-not-rated margin-bottom-5"> <%= t('.no_reviews_yet') %></span>
									<%# <% else %> %>
									<div class="item-details margin-top-10">
										<div class="star-rating" data-rating="5.0"></div>
										<div class="detail-item"><i class="icon-material-outline-date-range"></i> Août 2019</div>
									</div>
									<div class="item-description">
										<p>Excellent photographe - moment inoubliable.</p>
									</div>
									<%# <%end%> %>
								</div>
							</div>
							<%# <% if @job.reviews.empty? %> %>
							<a href="#small-dialog-2" class="popup-with-zoom-anim button ripple-effect margin-top-5 margin-bottom-10"><i class="icon-material-outline-thumb-up"></i> <%= t('.leave_a_review') %></a>
							<%# <% else %> %>
							<a href="#small-dialog-1" class="popup-with-zoom-anim button gray ripple-effect margin-top-5 margin-bottom-10"><i class="icon-feather-edit"></i><%= t('.edit_review') %></a>
							<%# <% end %> %>
						</li>
					</ul>
				</div> -->
			</div>

		</div>
		<% if current_user.customer? %>
			<div class="single-page-section">
				<h3 class="margin-bottom-25"> <%= t('.this_pro_may_be_suitable') %></h3>

				<!-- Listings Container -->
				<div class="listings-container grid-layout" style="width: 100%">

					<!-- Job Listing -->
					<div class="freelancers-container freelancers-list-layout margin-top-35">

						<!--Freelancer -->
						<% @workers.each do |worker| %>
						<div class="freelancer">

							<!-- Overview -->
							<div class="freelancer-overview">
								<div class="freelancer-overview-inner">

									<!-- Bookmark Icon -->
									<span class="bookmark-icon"></span>

									<!-- Avatar -->
									<div class="freelancer-avatar">
										<div class="verified-badge"></div>
										<a href="single-freelancer-profile.html"><img src="<%= worker.avatar_url %>" alt=""></a>
									</div>

									<!-- Name -->
									<div class="freelancer-name">
										<h4><%= worker.full_name %></h4>
										<span><%= worker.profession.name %></span>
										<!-- Rating -->
										<% if worker.reviews.exists? %>
											<div class="freelancer-rating">
												<div class="star-rating" data-rating="4.9"></div>
											</div>
										<% else %>
											<span class="company-not-rated margin-bottom-5">5 votes minimum</span>
										<% end %>
									</div>
								</div>
							</div>

							<!-- Details -->
							<div class="freelancer-details">
								<div class="freelancer-details-list">
									<ul>
										<li> <%= t('.localisation') %> <strong><i class="icon-material-outline-location-on"></i> <%= worker.company.address.city %></strong></li>
										<li> <%= t('.price_rate') %> <strong> <%= number_to_currency(worker.price_rate,strip_insignificant_zeros: true)%></strong></li>
									</ul>
								</div>

								<%= link_to user_path(id: worker.id), class:"button button-sliding-icon ripple-effect" do %>
								<%= t('.see_pro_profile') %> <i class="icon-material-outline-arrow-right-alt"></i>
								<% end %>
							</div>
						</div>
						<!-- Freelancer / End -->
						<% end %>
					</div>
				</div>
				<!-- Listings Container / End -->

			</div>
		<% end %>
	</div>
	<!-- Sidebar -->
	<div class="col-xl-4 col-lg-4">
		<div class="sidebar-container">

			<!-- Button -->
			<% if current_user.worker? %>
				<% if Room.where(author_id:current_user.id,receiver_id: @job.customer.id,job_id: @job.id).or(Room.where(receiver_id:current_user.id,author_id: @job.customer.id,job_id: @job.id)).exists? %>
					<%= link_to room_path(id: Room.where(author_id:current_user.id,receiver_id: @job.customer.id,job_id: @job.id).or(Room.where(receiver_id:current_user.id,author_id: @job.customer.id,job_id: @job.id)).ids),class:"apply-now-button" do %>
						<%= t('.your_conversation') %> <i class="icon-material-outline-arrow-right-alt"></i>
					<% end %>
				<% else %>
					<%= form_for Room.new do |form| %>
					  <%= form.hidden_field :author_id, value: current_user.id  %>
					  <%= form.hidden_field :receiver_id, value: @job.customer_id %>
					  <%= form.hidden_field :job_id, value: @job.id %>
						<%= link_to "",:onclick => "$('#new_room').submit()",class:"apply-now-button" do %>
							 <%= t('.send_mp_to_client')   %><i class="icon-material-outline-arrow-right-alt"></i>
						<% end %>
					<% end %>
				<% end %>
			<% end %>
			<% unless (@job.worker == current_user || @job.worker.nil?) %>
				<% if (current_user.worker? && !@job.completed_by_worker?)||(current_user.customer? && !@job.completed_by_customer?) %>
					<%= link_to finished_job_path(slug: @job.slug), class: "apply-now-button" do %>
						<%= t('.job_finished') %><i class="icon-material-outline-arrow-right-alt"></i>
					<% end %>
				<% elsif current_user.worker? &&@job.completed_by_worker? %>
					<span class="apply-now-button"> <%= t(".mission_finished") %></span>
				<% elsif current_user.customer? &&@job.completed_by_customer? %>
					<span class="apply-now-button"> <%= t(".mission_finished") %></span>
				<% end %>
			<% end %>
			<!-- <a href="/theme/user/hireo/dashboard-messages.html" class="apply-now-button margin-bottom-50"> <%= t('.abort_job') %><i class="icon-material-outline-arrow-right-alt"></i></a> -->
			<!-- Sidebar Widget -->
			<div class="sidebar-widget">
				<div class="job-overview">
					<div class="job-overview-headline"> <%= t('.recap') %></div>
					<div class="job-overview-inner">
						<ul>
							<li>
								<i class="icon-material-outline-local-atm"></i>
								<span> <%= t('.your_budget') %></span>

								<h5><%= number_to_currency(@job.min_price,strip_insignificant_zeros: true) +" "+"-"+" "+ number_to_currency(@job.max_price,strip_insignificant_zeros: true)%></h5>
							</li>
							<li>
								<i class="icon-material-outline-location-on"></i>
								<span><%= t('.job_status') %></span>
								<% case @job.status %>
								<% when "created" %>
									<mark class="color" style="background-color: grey"><%= t('.created') %></mark>
								<% when "in_progress" %>
									<mark class="color" style="background-color: #28b661"><%= t('.in_progress') %></mark>
								<% when "completed_by_worker" || "completed_by_customer" %>
									<mark class="color" style="background-color: #2a41e8"><%= t('.finished') %></mark>
								<% when "cancelled" %>
									<mark class="color" style="background-color: #e53038"><%= t('.aborted') %></mark>
								<% end %>
							</li>
							<li>
								<i class="icon-material-outline-business-center"></i>
								<span><%= t('.category') %></span>
								<h5> <%= @job.category.name %></h5>
							</li>
							<li>
								<i class="icon-material-outline-local-atm"></i>
								<span><%= t('.under_category') %></span>
								<h5><%= @job.subcategory.name if @job.subcategory %></h5>
							</li>
							<li>
								<i class="icon-material-outline-location-on"></i>
								<span><%= t('.delivery_format') %></span>
								<h5>Clé USB</h5>
							</li>
							<li>
								<i class="icon-material-outline-business-center"></i>
								<span><%= t('.estimated_time') %></span>
								<h5> <%=  t('.time_range', min_time: @job.min_time,max_time: @job.max_time) %></h5>

							</li>
							<li>
								<i class="icon-material-outline-business-center"></i>
								<span><%= t('.localisation') %></span>
								<h5><%= @job.localisation %></h5>
							</li>
							<li>
								<i class="icon-material-outline-local-atm"></i>
								<span><%= t('.which_date') %></span>
								<h5><%= @job.date_delivery.strftime("%d/%m/%Y") if @job.date_delivery %></h5>
							</li>

						</ul>
					</div>
				</div>
			</div>

		</div>
		<% if @job.invoice.present? %>
			<div style="text-align: center">
				<%= link_to invoice_job_path(locale: I18n.locale, slug: @job.slug, format: :pdf), class: "button ripple-effect", style: "margin: auto" do %>
					<i class="icon-feather-download"></i> <%= t('.invoice_print') %>
				<% end %>
			</div>
		<% end %>
	</div>
</div>
<!-- Leave a Review for Freelancer Popup
================================================== -->
<div id="small-dialog-2" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

	<!--Tabs -->
	<div class="sign-in-form">

		<ul class="popup-tabs-nav">
		</ul>

		<div class="popup-tabs-container">

			<!-- Tab -->
			<div class="popup-tab-content" id="tab2">

				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3><%= t('.leave_a_review') %></h3>
					<span><%= t('.rate_pro_project', pro:"Peter",job:"Shooting photo mariage") %></span>
				</div>

				<!-- Form -->
				<form method="post" id="leave-review-form">

					<div class="feedback-yes-no">
						<strong><%= t('.delivered_on_budget') %></strong>
						<div class="radio">
							<input id="radio-1" name="radio" type="radio" required>
							<label for="radio-1"><span class="radio-label"></span> Yes</label>
						</div>

						<div class="radio">
							<input id="radio-2" name="radio" type="radio" required>
							<label for="radio-2"><span class="radio-label"></span> No</label>
						</div>
					</div>

					<div class="feedback-yes-no">
						<strong><%= t('.delivered_on_time') %></strong>
						<div class="radio">
							<input id="radio-3" name="radio2" type="radio" required>
							<label for="radio-3"><span class="radio-label"></span> Yes</label>
						</div>

						<div class="radio">
							<input id="radio-4" name="radio2" type="radio" required>
							<label for="radio-4"><span class="radio-label"></span> No</label>
						</div>
					</div>

					<div class="feedback-yes-no">
						<strong><%= t('.your_rating') %></strong>
						<div class="leave-rating">
							<input type="radio" name="rating" id="rating-radio-1" value="1" required>
							<label for="rating-radio-1" class="icon-material-outline-star"></label>
							<input type="radio" name="rating" id="rating-radio-2" value="2" required>
							<label for="rating-radio-2" class="icon-material-outline-star"></label>
							<input type="radio" name="rating" id="rating-radio-3" value="3" required>
							<label for="rating-radio-3" class="icon-material-outline-star"></label>
							<input type="radio" name="rating" id="rating-radio-4" value="4" required>
							<label for="rating-radio-4" class="icon-material-outline-star"></label>
							<input type="radio" name="rating" id="rating-radio-5" value="5" required>
							<label for="rating-radio-5" class="icon-material-outline-star"></label>
						</div><div class="clearfix"></div>
					</div>

					<textarea class="with-border" placeholder="Comment" name="message2" id="message2" cols="7" required></textarea>

				</form>

				<!-- Button -->
				<button class="button full-width button-sliding-icon ripple-effect" type="submit" form="leave-review-form"><%= t('.leave_a_review') %><i class="icon-material-outline-arrow-right-alt"></i></button>

			</div>

		</div>
	</div>
</div>
<!-- Leave a Review Popup / End -->
