<div class="site-menubar">
  <div class="site-menubar-body">
    <div>
      <div>
        <ul class="site-menu" data-plugin="menu">
          <li class="site-menu-category"></li>
          <li class="site-menu-item has-sub">
            <%= link_to admin_jobs_path do %>
              <i class="site-menu-icon wb-dashboard" aria-hidden="true"></i>
              <span class="site-menu-title">Les Missions</span>
                  <div class="site-menu-badge">
                      <span class="badge badge-pill"> <%= @jobs.count %></span>
                  </div>
            <% end %>
          </li>
          <li class="site-menu-item has-sub">
            <%= link_to admin_categories_path do %>
              <i class="site-menu-icon wb-dashboard" aria-hidden="true"></i>
              <span class="site-menu-title">Les Catégories</span>
                  <div class="site-menu-badge">
                      <span class="badge badge-pill"> <%= @categories.count %></span>
                  </div>
            <% end %>
          </li>
          <li class="site-menu-item has-sub">
            <%= link_to admin_users_path do %>
              <i class="site-menu-icon wb-dashboard" aria-hidden="true"></i>
              <span class="site-menu-title">Les Utilisateurs</span>
                  <div class="site-menu-badge">
                      <span class="badge badge-pill "> <%= @users.count %></span>
                  </div>
            <% end %>
          </li>
          <li class="site-menu-item has-sub">
            <%= link_to admin_format_deliveries_path do %>
              <i class="site-menu-icon wb-dashboard" aria-hidden="true"></i>
              <span class="site-menu-title">Les Formats de Livraisons</span>
                  <div class="site-menu-badge">
                      <span class="badge badge-pill"> <%= @format_deliveries_count %></span>
                  </div>
            <% end %>
          </li>
          <li class="site-menu-item has-sub">
            <%= link_to admin_professions_path do %>
              <i class="site-menu-icon wb-dashboard" aria-hidden="true"></i>
              <span class="site-menu-title">Les métiers</span>
                  <div class="site-menu-badge">
                      <span class="badge badge-pill"> <%= @professions_count %></span>
                  </div>
            <% end %>
          </li>
          <li class="site-menu-item has-sub">
            <%= link_to admin_plan_limitations_path do %>
              <i class="site-menu-icon wb-dashboard" aria-hidden="true"></i>
              <span class="site-menu-title">Limitation des plans</span>
              <div class="site-menu-badge">
                  <span class="badge badge-pill"> <%= @plan_limitations_count %></span>
              </div>
            <% end %>
          </li>
          <li class="site-menu-item has-sub">
            <%= link_to admin_credits_offers_path do %>
              <i class="site-menu-icon wb-dashboard" aria-hidden="true"></i>
              <span class="site-menu-title">Offre de crédit</span>
              <div class="site-menu-badge">
                  <span class="badge badge-pill"> <%= @credits_offers_count %></span>
              </div>
            <% end %>
          </li>
          <li class="site-menu-item has-sub">
            <%= link_to admin_forbiden_words_path do %>
              <i class="site-menu-icon wb-dashboard" aria-hidden="true"></i>
              <span class="site-menu-title">Mot interdits</span>
              <div class="site-menu-badge">
                  <span class="badge badge-pill"> <%= @forbiden_words_count %></span>
              </div>
            <% end %>
          </li>
        </ul>

      </div>
    </div>
  </div>

  <div class="site-menubar-footer">
    <%= link_to destroy_user_session_path, method: :delete, :data => {:placement => "top", :toggle => "tooltip"} do %>
      <span class="icon wb-power" aria-hidden="true"></span>
    <% end %>

  </div>
</div>
