<%= content_for :body_style do  %>
<style media="screen">
	.cover {
		box-sizing: border-box;
		text-align:center;
		margin:auto;
    width: 100%;
    max-height: 300px !important;
		line-height:300px;
    /* background-image: url("<%= @user.banner_url %>");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%; */
}​
</style>
<% end %>
<div class="cover">
	<%= image_tag(@user.banner_url, height:'300')  %>
</div>
<!-- Recent Blog Posts / End -->
<div class="container margin-top-70">
	<div class="row">
		<!-- Content -->
		<div class="col-xl-8 col-lg-8 content-right-offset">
			<!-- Page Content -->
			<div class="single-page-section">
				<h3 class="margin-bottom-25"> <%= t(".about", pro: @user.full_name) %></h3>
				<p> <%= @user.description %></p>
			</div>
			<div class="col-xl-12">
				<div class="blog-carousel">
					<% @user.portfolios.each do |portfolio| %>
						<%= link_to portfolio_path(id: portfolio.id), class:"blog-compact-item-container" do %>
							<img src=" <%= rails_blob_url(portfolio.picture.first)%>" style="width:auto;height:200px" alt="">
						<% end %>
					<% end %>
				</div>
			</div>
			<!-- Boxed List -->
			<% if @jobs.present? %>
				<div class="boxed-list margin-bottom-60">
					<div class="boxed-list-headline">
						<h3><i class="icon-material-outline-thumb-up"></i> <%= t('.history_and_reviews') %></h3>
					</div>
					<% @jobs.each do |job| %>
	          <%= link_to job_path(slug:job.slug), class:"job-listing" do%>
	            <div class="job-listing-details">

	              <!-- Details -->
	              <div class="job-listing-description">
	                <!-- <h4 class="job-listing-company">Hexagon <span class="verified-badge" title="Verified Employer" data-tippy-placement="top"></span></h4> -->
	                <h3 class="job-listing-title"> <%= job.name %></h3>
	                <p class="job-listing-text"> <%= job.description %></p>

	              </div>
	            </div>
	            <div class="job-listing-footer">
	              <ul>
	                <% case job.status %>
	                  <% when 'created' %>
	                  <li><mark class="color" style="background-color: grey"><%= t('jobs.index.created') %></mark></li>
	                  <% when "in_progress" %>
	                  <mark class="color" style="background-color: orange"><%= t('jobs.index.in_progress') %></mark>
										<% when "completed_by_customer" %>
				            <mark class="color" style="background-color: #28b661"><%= t('jobs.index.finished') %></mark>
										<% when "completed_by_worker" %>
										<mark class="color" style="background-color: #28b661"><%= t('jobs.index.finished') %></mark>
	                <% end %>
	                <li><i class="icon-material-outline-account-balance-wallet"></i> <%= number_to_currency(job.sold_at)%></li>
	                <li><i class="icon-material-outline-business-center"></i> <%= job.category.name %></li>
	                <li><i class="icon-material-outline-local-atm"></i> <%= job.subcategory.name if job.subcategory %></li>
	                <li><i class="icon-material-outline-location-on"></i>  <%= job.format_delivery.name if job.format_delivery.present? %></li>
	                <li><i class="icon-material-outline-location-on"></i> <%=  t('jobs.index.time_range', min_time: job.min_time,max_time: job.max_time) %></li>
	                <li><i class="icon-material-outline-location-on"></i> <%= job.localisation %></li>
	                <li><i class="icon-material-outline-access-time"></i> <%= t('jobs.index.published_at') %> <%= time_ago_in_words(job.created_at) %></li>
	              </ul>

	            </div>
	          <% end %>
	        <%end%>

					<!-- Pagination -->
					<div class="clearfix"></div>
					<div class="pagination-container margin-top-40 margin-bottom-10">
						<%= paginate @jobs if @jobs.present?%>
					</div>
					<div class="clearfix"></div>
					<!-- Pagination / End -->

				</div>
			<% end %>
			<!-- Boxed List / End -->
		</div>
		<!-- Sidebar -->
		<div class="col-xl-4 col-lg-4" style="text-align:center">
			<div class="sidebar-container">

				<!-- Profile Overview -->
				<div class="profile-overview">
					<% if @user.price_rate %>
						<div class="overview-item"><strong> <%= number_to_currency(@user.price_rate, strip_insignificant_zeros: true) %></strong><span>	<%= t('.hour_rate') %></span></div>
					<% end %>
					<div class="overview-item"><strong> <%= @user.jobs.count %></strong><span>	<%= t('.job_realized') %></span></div>
				</div>
				<% if current_user %>
					<% if (@user != current_user) %>
						<% if current_user.have_one_room_with_user(@user).present? %>
							<%= link_to room_path(id: Room.where(author_id:current_user.id,receiver_id: @user.id).or(Room.where(receiver_id:current_user.id,author_id: @user.id)).first.id),class:"apply-now-button margin-bottom-50" do %>
								 <%= t('.send_mp') %><i class="icon-material-outline-arrow-right-alt"></i>
							<% end %>
						<% else %>
							<%= form_for Room.new do |form| %>
								<%= form.hidden_field :author_id, value: current_user.id  %>
								<%= form.hidden_field :receiver_id, value: @user.id %>
								<%= form.submit t('.send_mp'),class:"apply-now-button margin-bottom-50" %>
							<% end %>
						<% end %>
					<% end %>
				<% else %>
				<p><%= t('.sigin_to_send_mp') %></p>
				<% end %>

				<!-- Freelancer Indicators -->


				<!-- Widget -->
				<div class="sidebar-widget">
					<h3> <%= t('.social_medias') %></h3>
					<div class="freelancer-socials margin-top-25">
						<ul>
							<% if @user.facebook_profile.present? %>
							<li><a href="<%= @user.facebook_profile %>" title="Facebook" data-tippy-placement="top"><i class="icon-brand-facebook"></i></a></li>
							<% end %>
							<% if @user.twitter_profile.present? %>
							<li><a href="<%= @user.twitter_profile if @user.twitter_profile %>" title="Twitter" data-tippy-placement="top"><i class="icon-brand-twitter"></i></a></li>
							<% end %>
							<% if @user.instagram_profile.present? %>
							<li><a href="<%= @user.instagram_profile if @user.instagram_profile %>" title="Instagram" data-tippy-placement="top"><i class="icon-brand-instagram"></i></a></li>
							<% end %>
							<% if @user.pinterest_profile.present? %>
							<li><a href="<%= @user.pinterest_profile if @user.pinterest_profile %>" title="Pinterest " data-tippy-placement="top"><i class="icon-brand-pinterest"></i></a></li>
							<% end %>
						</ul>
					</div>
				</div>

				<!-- Widget -->
				<div class="sidebar-widget">
					<h3> <%= t('.skills') %></h3>
					<div class="task-tags">
						<% if @user.skills.present? %>
							<% @user.skills.each do |skill| %>
							<span> <%= skill %></span>
							<% end %>
						<% end %>
					</div>
				</div>

				<div class="sidebar-widget">
					<h3> <%= t('.subcategories') %></h3>
					<div class="task-tags">
						<% if @user.subcategories.present? %>
							<% @user.subcategories.each do |subcategory| %>
							<span> <%= subcategory.name %></span>
							<% end %>
						<% end %>
					</div>
				</div>
				<% if @user.company.present? && @user.company.website.present? %>
					<div class="sidebar-widget">
						<h3> <%= t('.website') %></h3>
						<div class="task-tags">
							<span> <a href=<%= @user.company.website %>><%= @user.company.website %></a></span>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>


<!-- Spacer -->
<div class="margin-top-15"></div>
