
<div class="dashboard-headline">
	<h2><%= t('.forgot_your_password') %></h2>
</div>


<div class="row">
  <div class="col-xl-4 offset-xl-4">


    <div class="login-register-page">
      <!-- Welcome Text -->
      <div class="welcome-text">
        <h3>Entrez votre adresse mail</h3>
      </div>

      <!-- Form -->
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="input-with-icon-left">
          <i class="icon-material-baseline-mail-outline"></i>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input-text with-border" %>
        </div>
      <!-- Button -->
      <%= f.submit t('.send_me_reset_password_instructions'), class:"button full-width ripple-effect margin-top-10" %>
      <% end %>
    </div>

  </div>
</div>
