
  <!-- Header Container
  ================================================== -->
  <div class="clearfix"></div>
  <!-- Header Container / End -->

  <!-- Titlebar
  ================================================== -->
  <div id="titlebar" class="gradient">
  	<div class="container">
  		<div class="row">
  			<div class="col-md-12">

  				<h2><%= t('.forgot_your_password') %></h2>

  			</div>
  		</div>
  	</div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xl-5 offset-xl-3">


        <div class="login-register-page">
          <!-- Welcome Text -->
          <div class="welcome-text">
            <h3>Entrez votre adresse mail</h3>
          </div>

          <!-- Form -->
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <div class="input-with-icon-left">
              <i class="icon-material-baseline-mail-outline"></i>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input-text with-border" %>
            </div>
          <!-- Button -->
          <%= f.submit t('.send_me_reset_password_instructions'), class:"button full-width button-sliding-icon ripple-effect margin-top-10" %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
  <!-- Spacer -->
  <div class="margin-top-70"></div>
