<div class="container">
  <div class="row">
    <div class="col-xl-12">

      <!-- Freelancers List Container -->
      <div class="freelancers-container freelancers-list-layout margin-top-35">

        <!--Freelancer -->
        <div class="freelancer">

          <!-- Overview -->
          <div class="freelancer-overview">
            <div class="freelancer-overview-inner">

              <!-- Name -->
              <div class="freelancer-name">
                <h1>  <%= raw t('credits_for.html', credits: 10, for: (currency_formated 8))  %></h1>
                <!-- Rating -->
              </div>
            </div>
          </div>

          <!-- Details -->
          <div class="freelancer-details">
            <%= link_to checkout_credit_path(id: 0), class: "button button-sliding-icon ripple-effect", data: { turbolinks: false }, data: { turbolinks: false } do %>
              <%= I18n.t("buy") %> <i class="icon-material-outline-arrow-right-alt"></i>
            <% end %>
          </div>
        </div>
        <!-- Freelancer / End -->

        <!--Freelancer -->
        <div class="freelancer">

          <!-- Overview -->
          <div class="freelancer-overview">
            <div class="freelancer-overview-inner">

              <!-- Name -->
              <div class="freelancer-name">
                <h1><strong>20 crédits:</strong> 15€ <mark>-5%</mark></h1>
                <!-- Rating -->
              </div>
            </div>
          </div>

          <!-- Details -->
          <div class="freelancer-details">
            <%= link_to checkout_credit_path(id: 1), class: "button button-sliding-icon ripple-effect", data: { turbolinks: false }, data: { turbolinks: false } do %>
              <%= I18n.t("buy") %> <i class="icon-material-outline-arrow-right-alt"></i>
            <% end %>
          </div>
        </div>
        <!-- Freelancer / End -->

        <!--Freelancer -->
        <div class="freelancer">

          <!-- Overview -->
          <div class="freelancer-overview">
            <div class="freelancer-overview-inner">

              <!-- Name -->
              <div class="freelancer-name">
                <h1><strong>50 crédits:</strong> 35€ <mark>-12,5%</mark></h1>
                <!-- Rating -->
              </div>
            </div>
          </div>

          <!-- Details -->
          <div class="freelancer-details">
            <%= link_to checkout_credit_path(id: 2), class: "button button-sliding-icon ripple-effect", data: { turbolinks: false }, data: { turbolinks: false } do %>
              <%= I18n.t("buy") %> <i class="icon-material-outline-arrow-right-alt"></i>
            <% end %>
          </div>
        </div>
        <!-- Freelancer / End -->

        <!--Freelancer -->
        <div class="freelancer">

          <!-- Overview -->
          <div class="freelancer-overview">
            <div class="freelancer-overview-inner">

              <!-- Name -->
              <div class="freelancer-name">
                <h1><strong>100 crédits:</strong> 65€ <mark>-18%</mark></h1>
                <!-- Rating -->
              </div>
            </div>
          </div>

          <!-- Details -->
          <div class="freelancer-details">

            <%= link_to checkout_credit_path(id: 3), class: "button button-sliding-icon ripple-effect", data: { turbolinks: false }, data: { turbolinks: false } do %>
              <%= I18n.t("buy") %> <i class="icon-material-outline-arrow-right-alt"></i>
            <% end %>
          </div>
        </div>
        <!-- Freelancer / End -->

        <!--Freelancer -->
        <div class="freelancer">

          <!-- Overview -->
          <div class="freelancer-overview">
            <div class="freelancer-overview-inner">

              <!-- Name -->
              <div class="freelancer-name">
                <h1><strong>500 crédits:</strong> 300€ <mark>-25%</mark></h1>
                <!-- Rating -->
              </div>
            </div>
          </div>

          <!-- Details -->
          <div class="freelancer-details">

            <%= link_to checkout_credit_path(id: 4), class: "button button-sliding-icon ripple-effect", data: { turbolinks: false }, data: { turbolinks: false } do %>
              <%= I18n.t("buy") %> <i class="icon-material-outline-arrow-right-alt"></i>
            <% end %>
          </div>
        </div>
        <!-- Freelancer / End -->

        <!--Freelancer -->
        <div class="freelancer">

          <!-- Overview -->
          <div class="freelancer-overview">
            <div class="freelancer-overview-inner">

              <!-- Name -->
              <div class="freelancer-name">
                <h1><strong>1000 crédits:</strong> 500€ <mark>-37,5%</mark></h1>
                <!-- Rating -->
              </div>
            </div>
          </div>

          <!-- Details -->
          <div class="freelancer-details">

            <%= link_to checkout_credit_path(id: 5), class: "button button-sliding-icon ripple-effect", data: { turbolinks: false }, data: { turbolinks: false } do %>
              <%= I18n.t("buy") %> <i class="icon-material-outline-arrow-right-alt"></i>
            <% end %>
          </div>
        </div>
        <!-- Freelancer / End -->

      </div>
      <!-- Tasks Container / End -->

    </div>
  </div>
</div>
