<%= content_for :body_style do  %>
<% end %>
	<!-- Header Container
	================================================== -->
	<div class="clearfix"></div>
	<!-- Header Container / End -->



<!-- Intro Banner
================================================== -->
	<div class="intro-banner" data-background-image="/theme/user/hireo/images/home-background.jpg">
		<div class="container">

			<!-- Intro Headline -->
			<div class="row">
				<div class="col-md-12">
					<div class="banner-headline">
						<h3>
							<strong><%= raw I18n.t('.home.index.intro') %> </strong>
							<br>
						</h3>
					</div>
				</div>
			</div>

			<!-- Search Bar -->
			<div class="row">
				<div class="col-md-12">
					<%= form_tag(search_result_path) do  %>
						<div class="intro-banner-search-form margin-top-95">
							<div class="intro-search-field">
								<label for="autocomplete-input" class="field-title ripple-effect"><%= raw I18n.t('.home.index.what') %></label>
								<%= select_tag 'category', options_from_collection_for_select(Category.all, :id, :name), id:"category_select",:include_blank => 'Sélectionnez une catégorie' %>
							</div>
							<div class="intro-search-field with-autocomplete">
								<label for="autocomplete-input" class="field-title ripple-effect"><%= raw I18n.t('.home.index.where') %></label>
								<div class="input-with-icon">
									<%= text_field_tag 'city',nil, {placeholder: 'Entrez une ville',id: 'autocomplete_address'} %>
								</div>
							</div>
							<!-- Button -->
							<div class="intro-search-button">
								<%= submit_tag t('.search'), class:"button"%>
							</div>
						</div>
					<% end %>
				</div>
			</div>

			<!-- Stats -->
			<div class="row">
				<div class="col-md-12">
					<ul class="intro-stats margin-top-45 hide-under-992px">
						<li>
							<strong class="counter"> <%= Job.count %></strong>
							<span><%= raw I18n.t('.home.index.published_ads') %></span>
						</li>
						<li>
							<strong class="counter"> <%= Worker.count %></strong>
							<span><%= raw I18n.t('.home.index.pros') %></span>
						</li>
					</ul>
				</div>
			</div>

		</div>
	</div>


	<div class="section padding-top-65 padding-bottom-65">
		<div class="container">
			<div class="row">

				<div class="col-xl-12">
					<!-- Section Headline -->
					<div class="section-headline centered margin-top-0 margin-bottom-5">
						<h3><%= raw I18n.t('.home.index.how_it_works') %></h3>
					</div>
				</div>

				<div class="col-xl-4 col-md-4">
					<!-- Icon Box -->
					<div class="icon-box">
						<!-- Icon -->
						<div class="icon-box-circle">
							<div class="icon-box-circle-inner">
								<i class="icon-line-awesome-lock"></i>
								<div class="icon-box-check"><i class="icon-material-outline-check"></i></div>
							</div>
						</div>
						<%= raw I18n.t('.home.index.first_bloc_explanation') %>
					</div>
				</div>

				<div class="col-xl-4 col-md-4">
					<!-- Icon Box -->
					<div class="icon-box">
						<!-- Icon -->
						<div class="icon-box-circle">
							<div class="icon-box-circle-inner">
								<i class="icon-line-awesome-legal"></i>
								<div class="icon-box-check"><i class="icon-material-outline-check"></i></div>
							</div>
						</div>
						<%= raw I18n.t('.home.index.second_bloc_explanation') %>
					</div>
				</div>

				<div class="col-xl-4 col-md-4">
					<!-- Icon Box -->
					<div class="icon-box">
						<!-- Icon -->
						<div class="icon-box-circle">
							<div class="icon-box-circle-inner">
								<i class=" icon-line-awesome-trophy"></i>
								<div class="icon-box-check"><i class="icon-material-outline-check"></i></div>
							</div>
						</div>
						<%= raw I18n.t('.home.index.third_bloc_explanation') %>
					</div>
				</div>

			</div>
		</div>
	</div>


	<!-- Highest Rated Freelancers -->
	<div class="section gray padding-top-65 padding-bottom-70 full-width-carousel-fix">
		<div class="container">
			<div class="row">

				<div class="col-xl-12">
					<!-- Section Headline -->
					<div class="section-headline margin-top-0 margin-bottom-25">
						<h3><%= raw I18n.t('.home.index.best_pros') %> </h3>
					</div>
				</div>

				<div class="col-xl-12">
					<div class="default-slick-carousel freelancers-container freelancers-grid-layout">

						<!--Freelancer -->
						<div class="freelancer">

							<!-- Overview -->
							<div class="freelancer-overview">
								<div class="freelancer-overview-inner">

									<!-- Bookmark Icon -->
									<span class="bookmark-icon"></span>

									<!-- Avatar -->
									<div class="freelancer-avatar">
										<div class="verified-badge"></div>
										<a href="/theme/user/hireo/single-freelancer-profile.html"><img src="/theme/user/hireo/images/user-avatar-big-01.jpg" alt=""></a>
									</div>

									<!-- Name -->
									<div class="freelancer-name">
										<h4><a href="/theme/user/hireo/single-freelancer-profile.html">Tom Smith <img class="flag" src="/theme/user/hireo/images/flags/fr.svg" alt="" title="United Kingdom" data-tippy-placement="top"></a></h4>
										<span>Photographe</span>
									</div>

									<!-- Rating -->
									<div class="freelancer-rating">
										<div class="star-rating" data-rating="5.0"></div>
									</div>
								</div>
							</div>

							<!-- Details -->
							<div class="freelancer-details">
								<div class="freelancer-details-list">
									<ul style="display: flex;justify-content: space-around;">
										<li><%= raw I18n.t('.home.pros_presentation.localisation') %><strong><i class="icon-material-outline-location-on"></i>Paris</strong></li>
										<li><%= raw I18n.t('.home.pros_presentation.price') %> <strong>60 € / h</strong></li>
									</ul>
								</div>
								<a href="/theme/user/hireo/single-freelancer-profile.html" class="button button-sliding-icon ripple-effect"><%= raw I18n.t('.home.pros_presentation.see_his_profile') %><i class="icon-material-outline-arrow-right-alt"></i></a>
							</div>
						</div>
						<!-- Freelancer / End -->

						<!--Freelancer -->
						<div class="freelancer">

							<!-- Overview -->
							<div class="freelancer-overview">
								<div class="freelancer-overview-inner">

									<!-- Bookmark Icon -->
									<span class="bookmark-icon"></span>

									<!-- Avatar -->
									<div class="freelancer-avatar">
										<div class="verified-badge"></div>
										<a href="/theme/user/hireo/single-freelancer-profile.html"><img src="/theme/user/hireo/images/user-avatar-big-01.jpg" alt=""></a>
									</div>

									<!-- Name -->
									<div class="freelancer-name">
										<h4><a href="/theme/user/hireo/single-freelancer-profile.html">Tom Smith <img class="flag" src="/theme/user/hireo/images/flags/fr.svg" alt="" title="United Kingdom" data-tippy-placement="top"></a></h4>
										<span>Photographe</span>
									</div>

									<!-- Rating -->
									<div class="freelancer-rating">
										<div class="star-rating" data-rating="5.0"></div>
									</div>
								</div>
							</div>

							<!-- Details -->
							<div class="freelancer-details">
								<div class="freelancer-details-list">
									<ul>
										<li>Localisation <strong><i class="icon-material-outline-location-on"></i>Paris</strong></li>
										<li>Prix <strong>60 € / h</strong></li>
										<li>Taux de réussite<strong>95%</strong></li>
									</ul>
								</div>
								<a href="/theme/user/hireo/single-freelancer-profile.html" class="button button-sliding-icon ripple-effect">Voir son profil <i class="icon-material-outline-arrow-right-alt"></i></a>
							</div>
						</div>
						<!-- Freelancer / End -->

						<!--Freelancer -->
						<div class="freelancer">

							<!-- Overview -->
							<div class="freelancer-overview">
								<div class="freelancer-overview-inner">

									<!-- Bookmark Icon -->
									<span class="bookmark-icon"></span>

									<!-- Avatar -->
									<div class="freelancer-avatar">
										<div class="verified-badge"></div>
										<a href="/theme/user/hireo/single-freelancer-profile.html"><img src="/theme/user/hireo/images/user-avatar-big-01.jpg" alt=""></a>
									</div>

									<!-- Name -->
									<div class="freelancer-name">
										<h4><a href="/theme/user/hireo/single-freelancer-profile.html">Tom Smith <img class="flag" src="/theme/user/hireo/images/flags/fr.svg" alt="" title="United Kingdom" data-tippy-placement="top"></a></h4>
										<span>Photographe</span>
									</div>

									<!-- Rating -->
									<div class="freelancer-rating">
										<div class="star-rating" data-rating="5.0"></div>
									</div>
								</div>
							</div>

							<!-- Details -->
							<div class="freelancer-details">
								<div class="freelancer-details-list">
									<ul>
										<li>Localisation <strong><i class="icon-material-outline-location-on"></i>Paris</strong></li>
										<li>Prix <strong>60 € / h</strong></li>
										<li>Taux de réussite<strong>95%</strong></li>
									</ul>
								</div>
								<a href="/theme/user/hireo/single-freelancer-profile.html" class="button button-sliding-icon ripple-effect">Voir son profil <i class="icon-material-outline-arrow-right-alt"></i></a>
							</div>
						</div>
						<!-- Freelancer / End -->

						<!--Freelancer -->
						<div class="freelancer">

							<!-- Overview -->
							<div class="freelancer-overview">
								<div class="freelancer-overview-inner">

									<!-- Bookmark Icon -->
									<span class="bookmark-icon"></span>

									<!-- Avatar -->
									<div class="freelancer-avatar">
										<div class="verified-badge"></div>
										<a href="/theme/user/hireo/single-freelancer-profile.html"><img src="/theme/user/hireo/images/user-avatar-big-01.jpg" alt=""></a>
									</div>

									<!-- Name -->
									<div class="freelancer-name">
										<h4><a href="/theme/user/hireo/single-freelancer-profile.html">Tom Smith <img class="flag" src="/theme/user/hireo/images/flags/fr.svg" alt="" title="United Kingdom" data-tippy-placement="top"></a></h4>
										<span>Photographe</span>
									</div>

									<!-- Rating -->
									<div class="freelancer-rating">
										<div class="star-rating" data-rating="5.0"></div>
									</div>
								</div>
							</div>

							<!-- Details -->
							<div class="freelancer-details">
								<div class="freelancer-details-list">
									<ul>
										<li>Localisation <strong><i class="icon-material-outline-location-on"></i>Paris</strong></li>
										<li>Prix <strong>60 € / h</strong></li>
										<li>Taux de réussite<strong>95%</strong></li>
									</ul>
								</div>
								<a href="/theme/user/hireo/single-freelancer-profile.html" class="button button-sliding-icon ripple-effect">Voir son profil <i class="icon-material-outline-arrow-right-alt"></i></a>
							</div>
						</div>
						<!-- Freelancer / End -->

						<!--Freelancer -->
						<div class="freelancer">

							<!-- Overview -->
							<div class="freelancer-overview">
								<div class="freelancer-overview-inner">

									<!-- Bookmark Icon -->
									<span class="bookmark-icon"></span>

									<!-- Avatar -->
									<div class="freelancer-avatar">
										<div class="verified-badge"></div>
										<a href="/theme/user/hireo/single-freelancer-profile.html"><img src="/theme/user/hireo/images/user-avatar-big-01.jpg" alt=""></a>
									</div>

									<!-- Name -->
									<div class="freelancer-name">
										<h4><a href="/theme/user/hireo/single-freelancer-profile.html">Tom Smith <img class="flag" src="/theme/user/hireo/images/flags/fr.svg" alt="" title="United Kingdom" data-tippy-placement="top"></a></h4>
										<span>Photographe</span>
									</div>

									<!-- Rating -->
									<div class="freelancer-rating">
										<div class="star-rating" data-rating="5.0"></div>
									</div>
								</div>
							</div>

							<!-- Details -->
							<div class="freelancer-details">
								<div class="freelancer-details-list">
									<ul>
										<li>Localisation <strong><i class="icon-material-outline-location-on"></i>Paris</strong></li>
										<li>Prix <strong>60 € / h</strong></li>
										<li>Taux de réussite<strong>95%</strong></li>
									</ul>
								</div>
								<a href="/theme/user/hireo/single-freelancer-profile.html" class="button button-sliding-icon ripple-effect">Voir son profil <i class="icon-material-outline-arrow-right-alt"></i></a>
							</div>
						</div>
						<!-- Freelancer / End -->

						<!--Freelancer -->
						<div class="freelancer">

							<!-- Overview -->
							<div class="freelancer-overview">
								<div class="freelancer-overview-inner">

									<!-- Bookmark Icon -->
									<span class="bookmark-icon"></span>

									<!-- Avatar -->
									<div class="freelancer-avatar">
										<div class="verified-badge"></div>
										<a href="/theme/user/hireo/single-freelancer-profile.html"><img src="/theme/user/hireo/images/user-avatar-big-01.jpg" alt=""></a>
									</div>

									<!-- Name -->
									<div class="freelancer-name">
										<h4><a href="/theme/user/hireo/single-freelancer-profile.html">Tom Smith <img class="flag" src="/theme/user/hireo/images/flags/fr.svg" alt="" title="United Kingdom" data-tippy-placement="top"></a></h4>
										<span>Photographe</span>
									</div>

									<!-- Rating -->
									<div class="freelancer-rating">
										<div class="star-rating" data-rating="5.0"></div>
									</div>
								</div>
							</div>

							<!-- Details -->
							<div class="freelancer-details">
								<div class="freelancer-details-list">
									<ul>
										<li>Localisation <strong><i class="icon-material-outline-location-on"></i>Paris</strong></li>
										<li>Prix <strong>60 € / h</strong></li>
										<li>Taux de réussite<strong>95%</strong></li>
									</ul>
								</div>
								<a href="/theme/user/hireo/single-freelancer-profile.html" class="button button-sliding-icon ripple-effect">Voir son profil <i class="icon-material-outline-arrow-right-alt"></i></a>
							</div>
						</div>
						<!-- Freelancer / End -->

					</div>
				</div>

			</div>
		</div>
	</div>
	<%= content_for :body_script do  %>
	<script type="text/javascript">
		$('#category_select').selectpicker();
	</script>
	<% end %>
