
<div class="row">

	<div class="col-xl-12">

		<h3 class="page-title"> <%= t('.profile_who_match') %></h3>


		<!-- Freelancers List Container -->
		<div class="freelancers-container freelancers-list-layout margin-top-35">
			<% if @workers.empty? %>
				<div class="container">
					<div class="row">
						<div class="col-xl-12">
							<section id="not-found" class="center margin-top-50 margin-bottom-25">
								<h2><i class="icon-line-awesome-frown-o"></i></h2>
								<p><%= raw t('.search_result_nil') %></p>
							</section>
						</div>
					</div>
				</div>
			<% else %>
        <% @workers.each do |worker| %>
          <!--Freelancer -->
          <div class="freelancer">

            <!-- Overview -->
            <div class="freelancer-overview">
              <div class="freelancer-overview-inner">
                <!-- Avatar -->
                <div class="freelancer-avatar">
                  <%= link_to user_path(id: worker.id) do %>
                    <img src="<%= worker.avatar_url %>" alt="">
                  <% end %>
                </div>

                <!-- Name -->
                <div class="freelancer-name">
                  <h4><%= link_to user_path(id: worker.id) do %>
                    <%= worker.full_name %> <img class="flag" src="images/flags/gb.svg" alt="" title="United Kingdom" data-tippy-placement="top">
                  <% end %></h4>
                  <span><%= worker.profession.try("name") %></span>
                  <!-- Rating -->
                  <!-- <div class="freelancer-rating">
                    <div class="star-rating" data-rating="4.9"></div>
                  </div> -->
                </div>
              </div>
            </div>

            <!-- Details -->
            <div class="freelancer-details">
              <div class="freelancer-details-list">
                <ul>
									<% if worker.company.present? && worker.company.address.city.present? %>
                  <li> <%= t('.localisation') %> <strong><i class="icon-material-outline-location-on"></i> <%= worker.company.address.city %></strong></li>
									<% end %>
									<% if worker.price_rate%>
									<li> <%= t('.price_rate') %><strong> <%= number_to_currency(worker.price_rate , strip_insignificant_zeros: true) %></strong></li>
									<% end %>
								</ul>
              </div>
              <%= link_to user_path(id: worker.id), class: "button ripple-effect" do %>
                <%= t('.see_his_profile') %> <i class="icon-material-outline-arrow-right-alt"></i>
              <% end %>
            </div>
          </div>
          <!-- Freelancer / End -->
        <% end %>
			<% end %>
		</div>
		<!-- Tasks Container / End -->


		<!-- Pagination -->
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-12">
				<!-- Pagination -->
				<div class="pagination-container">
					<% if @workers.present? %>
					<%= paginate @workers%>
					<% end %>
				</div>
			</div>
		</div>
		<!-- Pagination / End -->

	</div>
</div>
