
<%= content_for :body_style do %>
  <%= render "layouts/admin/style_datatable" %>
  <% end %>
  <%= content_for :page_title, "Les mots interdits" %>
<div class="panel">
  <header class="panel-heading">
    <h3 class="panel-title">Voici les mots interdits en ligne : </h3>
  </header>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <div class="mb-15">
          <%= link_to 'Ajouter un mot interdit', new_admin_forbiden_word_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#addForbidenWord', class: 'btn btn-primary'}  %>
        </div>
      </div>
    </div>
    <table id="forbiden_words" class="table table-hover dataTable table-striped w-full" data-source="<%= admin_forbiden_words_path(wanted_filter: @sort_by, format: "json") %>">
      <thead>
        <tr>
          <th>Ajouter le</th>
          <th>mot</th>
          <th>Valide après acceptation du devis?</th>
          <th>Mot Surveiller?</th>
					<th>Actions</th>
        </tr>
      </thead>
      <tbody>

			</tbody>
    </table>
  </div>
</div>
<div class="modal fade" id="addForbidenWord" aria-hidden="false" aria-labelledby="exampleFormModalLabel" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-simple">
    <%= render "form" %>
  </div>
</div>
<div id="editForbidenWord">

</div>

<%= content_for :body_script do %>
<%= render "layouts/admin/script_datatable" %>
<%= render "/layouts/data_table_conf.js.erb", element: "forbiden_words"  %>

<% end %>
