<%= content_for :body_script do %>
  <link rel="stylesheet" href="/theme/admin/classic/global/vendor/blueimp-file-upload/jquery.fileupload.css">
  <link rel="stylesheet" href="/theme/admin/classic/global/vendor/dropify/dropify.css">
  <link rel="stylesheet" href="/theme/admin/classic/global/vendor/icheck/icheck.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
  <link rel="stylesheet" href="/theme/admin/classic/global/vendor/select2/select2.css">
<%end%>
            <div class="panel">

              <div class="panel-body container-fluid">
                <%= form_with model: @plan_limitation, url: {action: "update"}, local: true do |form| %>
									<% if @plan_limitation.errors.any? %>
										<div class="notification error closeable">
											<p><%= pluralize(@plan_limitation.errors.count, "error") %> prohibited this plan_limitation from being saved:</p>
											<ul>
											<% @plan_limitation.errors.full_messages.each do |message| %>
												<li><%= message %></li>
											<% end %>
											</ul>
											<a class="close" href="#"></a>
										</div>
									<% end %>
                  <div class="form-group">
										<h5><%= form.label :label %></h5>
										<%= form.text_field :label, class:"form-control" %>
                  </div>
                  <div class="form-group">
                    <h5><%= form.label :description %></h5>
										<%= form.text_area :description, class:"form-control" %>
                  </div>
									<div class="form-group">
										<div class="row">
											<div class="col-xl-6">
                        <h5><%= form.label :price_per_month %></h5>
												<div class="">
                          <%= form.number_field :price_per_month, class:"form-control" %>
												</div>
											</div>
											<div class="col-xl-6">
                        <h5><%= form.label :commission_type %></h5>
												<div class="">
													<%= form.select(:commission_type, PlanLimitation.commission_types.keys.map{|v| [v.humanize, v]}, {prompt: "Choissisez le type de commission"}, {"data-plugin" => "select2",class:"form-control",id:"commission_type"}) %>
												</div>
											</div>
										</div>
                  </div>
									<div class="form-group">
										<div class="row">
											<div class="col-xl-6">
                        <h5><%= form.label :nb_answer %></h5>
												<div class="">
                          <%= form.number_field :nb_answer, class:"form-control" %>
												</div>
											</div>
											<div class="col-xl-6">
                        <h5><%= form.label :nb_answer_type %></h5>
												<div class="">
													<%= form.select(:nb_answer_type, PlanLimitation.nb_answer_types.keys.map{|v| [v.humanize, v]}, {prompt: "Choissisez le type de commission"}, {"data-plugin" => "select2",class:"form-control",id:"commission_type"}) %>
												</div>
											</div>
										</div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-xl-6">
                        <h5><%= form.label :limit_portfolio %></h5>
                        <%= form.number_field :limit_portfolio,class:"form-control" %>
                      </div>
                      <div class="col-xl-6">
                        <h5><%= form.label :limit_portfolio_content %></h5>
                        <%= form.number_field :limit_portfolio_content,class:"form-control" %>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="checkbox md-form-group float-label col-sm-12 m-b">
                      <label class="md-check">
                        <%= form.check_box :have_badge, id: :have_badge %><i class="danger"></i> avec badge
                      </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="checkbox md-form-group float-label col-sm-12 m-b">
                      <label class="md-check">
                        <%= form.check_box :have_status, id: :have_status %><i class="danger"></i> avec status
                      </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-xl-6">
                        <h5><%= form.label :show_order %></h5>
                        <%= form.number_field :show_order,class:"form-control" %>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-xl-6">
                        <h5><%= form.label :stripe_plan_id %></h5>
                        <%= form.text_field :stripe_plan_id,class:"form-control" %>
                      </div>
                    </div>
                  </div>
                  <%= form.submit class:"btn btn-primary"%>
                <%end%>
              </div>
            </div>
  
    <!-- End Page -->

    <%= content_for :body_script do %>

        <script src="/theme/admin/classic/global/js/Plugin/select2.js"></script>
      <script src="/theme/admin/classic/global/vendor/jquery-ui/jquery-ui.js"></script>
      <script src="/theme/admin/classic/global/vendor/blueimp-tmpl/tmpl.js"></script>
      <script src="/theme/admin/classic/global/vendor/blueimp-canvas-to-blob/canvas-to-blob.js"></script>
      <script src="/theme/admin/classic/global/vendor/blueimp-load-image/load-image.all.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
      <%= render "layouts/admin/script_datatable" %>

    <%end%>
