
<%= content_for :body_style do %>
  <%= render "layouts/admin/style_datatable" %>
<% end %>
<%= content_for :page_title, "Limitations des plans" %>
<!-- Panel Table Add Row -->
<div class="panel">
  <header class="panel-heading">
    <h3 class="panel-title">Voici les limitations des plans actuellement en ligne : </h3>
  </header>
  <div class="panel-body" id="user_list">
    <%= render "plan_limitation_list" %>
  </div>
</div>
<%= content_for :body_script do %>
	<%= render "layouts/admin/script_datatable" %>
	<script type="text/javascript">
		$(document).ready(function() {
		  $('#users-datatable').dataTable({
        "order": [],
        "language": {
          "url": 'http://cdn.datatables.net/plug-ins/1.10.16/i18n/French.json'
        }
      });
		});
	</script>
<% end %>
