
<!-- Container -->
<div class="container">
	<div class="row">

		<div class="col-xl-12">
			<div class="contact-location-info margin-bottom-50">
				<div class="contact-address">
					<ul>
						<li class="contact-address-headline"> <%= t('.our_office') %></li>
						<li>Rue de la plaine 3</li>
            <li>1400 Yverdon-les-Bains</li>
            <li>Suisse</li>
					</ul>

				</div>
			</div>
		</div>

		<div class="col-xl-8 col-lg-8 offset-xl-2 offset-lg-2">

			<section id="contact" class="margin-bottom-60">
				<h3 class="headline margin-top-15 margin-bottom-35"> <%= raw t('.any_questions') %></h3>

        <%= form_tag(send_mail_contact_path, :method => :get) do %>
					<div class="row">
						<div class="col-md-6">
							<div class="input-with-icon-left">
                <%= text_field_tag :name, "",class:"with-border", placeholder:t('.your_name'), required:"required" %>
								<i class="icon-material-outline-account-circle"></i>
							</div>
						</div>

						<div class="col-md-6">
							<div class="input-with-icon-left">
                <%= email_field_tag :email,"", class:"with-border", placeholder:t('.your_email'), pattern:"^[A-Za-z0-9](([_\.\-]?[a-zA-Z0-9]+)*)@([A-Za-z0-9]+)(([\.\-]?[a-zA-Z0-9]+)*)\.([A-Za-z]{2,})$",required:"required" %>
								<i class="icon-material-outline-email"></i>
							</div>
						</div>
					</div>

					<div class="input-with-icon-left">
            <%= text_field_tag :subject,"", class:"with-border", placeholder:t('.subject'), required:"required" %>
						<i class="icon-material-outline-assignment"></i>
					</div>

					<div>
						<%= text_area_tag 'content', nil, rows: 5, cols: 5,class:"with-border", placeholder:t('.your_message'), required:"required"%>
					</div>

          <%= submit_tag t('.send'), class:"submit button margin-top-15"%>
				<% end %>
			</section>

		</div>

	</div>
</div>
<!-- Container / End -->
