
<div class="dashboard-headline">
	<h3><%= t('.your_subscription') %></h3>
</div>
<%= link_to I18n.t("show_invoices"), invoices_subscriptions_path(), class: "button margin-top-20" %>
<div class="row margin-top-100">
  <div class="col-xl-12">
    <!-- Pricing Plans Container -->
    <div class="pricing-plans-container">
      <% @plan_limitations.each do |plan_limitation| %>
        <% if current_user.current_plan.try("id") == plan_limitation.id %>
          <!-- Plan -->
          <div class="pricing-plan recommended">
            <div class="recommended-badge"><%= t("your_actual_subscription") %></div>
            <h3><%= plan_limitation.label %></h3>
            <div class="pricing-plan-label billed-monthly-label"><strong><%= currency_formated plan_limitation.price_per_month %></strong>/ mois</div>
            <div class="pricing-plan-features">
              <strong><%= t(".caracteristics") %></strong>
              <ul>
                <li><%= plan_limitation.commission_per_service.to_i %> <%= plan_limitation.commission_type %> <%= t("per_performance") %></li>
                <li><%= plan_limitation.nb_answer %> <%= t("responses_to_ads") %> / <%= t(plan_limitation.nb_answer_type) %></li>
                <% if plan_limitation.limit_portfolio.present? &&(plan_limitation.limit_portfolio > 0) %>
                  <li><%= t(".limit_portfolio", limit: plan_limitation.limit_portfolio) %></li>
                <% elsif plan_limitation.limit_portfolio.present? &&(plan_limitation.limit_portfolio == 0) %>
                  <li><del><%= t(".no_portfolio") %></del></li>
                <% else %>
                  <li><%= t(".unlimited_portfolio") %></li>
                <% end %>
                <li><%= plan_limitation.have_badge.present? ? t(".have_badge") :  t(".have_no_badge.html") %></li>
                <li><%= plan_limitation.have_status.present? ? t(".have_status") : t(".have_no_status.html") %></li>
              </ul>
            </div>
          </div>
        <% else %>
          <!-- Plan -->
          <div class="pricing-plan">
            <h3><%= plan_limitation.label %></h3>
            <div class="pricing-plan-label billed-monthly-label"><strong><%= currency_formated plan_limitation.price_per_month %></strong>/ mois</div>
            <div class="pricing-plan-features">
              <strong><%= t(".caracteristics") %></strong>
              <ul>
                <li><%= plan_limitation.commission_per_service.to_i %> <%= plan_limitation.commission_type %> <%= t("per_performance") %></li>
                <li><%= plan_limitation.nb_answer %> <%= t("responses_to_ads") %> / <%= t(plan_limitation.nb_answer_type) %></li>
                <% if plan_limitation.limit_portfolio.present? &&(plan_limitation.limit_portfolio > 0) %>
                  <li><%= t(".limit_portfolio", limit: plan_limitation.limit_portfolio) %></li>
                <% elsif plan_limitation.limit_portfolio.present? &&(plan_limitation.limit_portfolio == 0) %>
                  <li><del><%= t(".no_portfolio") %></del></li>
                <% else %>
                  <li><%= t(".unlimited_portfolio") %></li>
                <% end %>
                <li><%= plan_limitation.have_badge.present? ? t(".have_badge") : t(".have_no_badge.html") %></li>
                <li><%= plan_limitation.have_status.present? ? t(".have_status") : t(".have_no_status.html") %></li>
              </ul>
            </div>
            <%= link_to t('.change_subscription'), new_subscription_path(plan_limitation_id: plan_limitation.id), class: "button full-width margin-top-20", "data-turbolinks" => "false" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
