
<!-- Invoice -->
<div id="invoice">

	<%= render "/layouts/pdf_header" %>

	<!-- Client & Supplier -->
	<div class="row">
		<div class="col-12">
			<h2>Facture n° <%= @subscription.invoice_number %></h2>
		</div>
	</div>

	<div class="row ">
		<%= render "layouts/pdf/sender_yoopeek" %>

		<div class="col-6">
			<strong class="margin-bottom-5">Destinataire</strong>
			<p>
				<%= @customer.company.try("address").try("street") %><br>
				<%=	@customer.company.try("address").try("zip") %> <%= @customer.company.try("address").try("city") %> <br>
				<%= @customer.company.try("address").try("country") %><br>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<table class="margin-top-20">
				<tr>
					<th>Description</th>
					<th>Quantité</th>
					<th>Total</th>
				</tr>
        <tr>
          <td><%= @subscription.plan_limitation.label %></td>
          <td>1</td>
          <td><%= currency_formated(@amount_without_taxes) %></td>
        </tr>

			</table>
		</div>
	</div>
	<!-- Invoice -->
	<%# if @user.with_vat? %>
		<div class="row">
			<div class="col-4 offset-8">
				<table id="totalsHT">
					<tr>
						<th>Sous total HT</th>
						<th><span><%= currency_formated (@amount_without_taxes) %></span></th>
					</tr>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-4 offset-8">
				<table id="totalsHT">
					<tr>
						<th>TVA 7,7% de <%= currency_formated @amount_without_taxes %></th>
						<th><span><%= currency_formated @taxes %></span></th>
					</tr>
				</table>
			</div>
		</div>
	<%# end %>
	<div class="row">
		<div class="col-4 offset-8">
			<table id="totals">
				<tr>
					<th>Total TTC</th>
					<th><span><%= currency_formated @total %></span></th>
				</tr>
			</table>
		</div>
	</div>
	<%= render 'layouts/pdf_footer' %>
</div>
