<header id="header-container" class="fullwidth">

	<!-- Header -->
	<div id="header">
		<div class="container">
			<!-- Left Side Content -->
			<div class="left-side">
				<!-- Logo -->
				<div id="logo">
					<%= link_to root_path,data: { turbolinks: false } do %>
					<%= image_tag "/theme/user/hireo/images/LOGO_YOOPEEK_PLAT.png" %>
					<%end%>
				</div>

				<!-- Main Navigation -->
				<nav id="navigation">
					<ul id="responsive">
						<% if user_signed_in?%>
							<% if current_user.worker? %>
								<li> <%= link_to t('.worker_jobs'), worker_jobs_path %></li>
								<!-- <li><a href="/theme/user/hireo/pro-missions-index.html">Pro Missions</a></li> -->
								<li><%= link_to I18n.t('.header.available_jobs'), jobs_path %></li>

								<li><%= link_to I18n.t('.header.rooms'), room_path(id:Room.where(author_id: current_user.id).or(Room.where(receiver_id:current_user.id)).first.id), method: :get %></li>
								<li> <%= link_to t('.header.portfolio'), portfolios_path, method: :get %></li>
							<% else %>
								<li><%= link_to I18n.t('.header.create_job'), new_job_path,method: :get, class:"button ripple-effect", style:"color: white"%></li>
								<li><%= link_to I18n.t('.header.your_job'), jobs_path,method: :get %></li>
								<li><%= link_to I18n.t('.header.your_quotes'), quotes_path,method: :get %></li>
								<li><%= link_to I18n.t('.header.rooms'), room_path((Room.order("created_at").where("receiver_id = ? OR author_id =?",current_user.id,current_user.id)).first.id),method: :get %></li>
								<!-- <li><a href="/theme/user/hireo/user-bookmarks-index.html">Favoris</a></li> -->
							<% end %>
						<% end %>
					</ul>
				</nav>
				<div class="clearfix"></div>
				<!-- Main Navigation / End -->

			</div>
			<!-- Left Side Content / End -->


			<!-- Right Side Content / End -->
			<% if current_user %>
			<div class="right-side" style="top: 0">

			<% else %>
			<div class="right-side" style="margin-right:-25px; top: 0">

			<% end %>
				<% if user_signed_in? %>
					<!--  User Notifications -->
					<div class="header-widget hide-on-mobile">

						<!-- Notifications -->
						<div class="header-notifications">

							<!-- Trigger -->
							<div class="header-notifications-trigger">
								<a href="#">
									<i class="icon-feather-bell"></i><span><%= @notifications.count %></span>
								</a>
							</div>

							<!-- Dropdown -->
							<div class="header-notifications-dropdown">

								<div class="header-notifications-headline">
									<h4>Notifications</h4>
									<button class="mark-as-read ripple-effect-dark" title="Mark all as read" data-tippy-placement="left">
										<i class="icon-feather-check-square"></i>
									</button>
								</div>

								<div class="header-notifications-content">
									<div class="header-notifications-scroll" data-simplebar>
										<ul>
											<!-- Notification -->
											<%if @notifications.empty?%>
											<div class="header-notifications-content">
												<div class="header-notifications-scroll" data-simplebar>
													<ul>
														<!-- Notification -->
														<li class="notifications-not-read">
															<a href="#">
															<!-- <a href="dashboard-messages.html"> -->
																<div class="notification-text">
																	<strong> <%= t('.notification_not_seen') %></strong>
																</div>
															</a>
														</li>
													</ul>
												</div>
											</div>
											<%else%>
												<% @notifications.each do |notification| %>
													<li class="notifications-not-read">
														<%= link_to notification.url, method: :get do %>
															<span class="notification-icon"><i class="icon-material-outline-group"></i></span>
															<span class="notification-text">
																<%= raw notification.message %>
															</span>
														<% end %>
													</li>
												<% end %>
											<% end %>
										</ul>
									</div>
								</div>

							</div>

						</div>

						<!-- Messages -->
						<div class="header-notifications">
							<div class="header-notifications-trigger">
								<a href="#"><i class="icon-feather-mail"></i>
									<% if  @notification_messages.count > 0 %>
									<span style="background-color:red"><%= @notification_messages.count %></span>
									<% else %>
									<span><%= @notification_messages.count %></span>
									<% end %>
								</a>
							</div>

							<!-- Dropdown -->
							<div class="header-notifications-dropdown">

								<div class="header-notifications-headline">
									<h4>Messages</h4>
									<button class="mark-as-read ripple-effect-dark" title="Mark all as read" data-tippy-placement="left">
										<i class="icon-feather-check-square"></i>
									</button>
								</div>
								<% if @notification_messages.empty? %>
									<div class="header-notifications-content">
										<div class="header-notifications-scroll" data-simplebar>
											<ul>
												<!-- Notification -->
												<li class="notifications-not-read">
													<a href="#">
													<!-- <a href="dashboard-messages.html"> -->
														<div class="notification-text">
															<strong> <%= t('.message_not_seen') %></strong>
														</div>
													</a>
												</li>
											</ul>
										</div>
									</div>
								<% else %>
									<% @notification_messages.each do |nm| %>
										<div class="header-notifications-content">
											<div class="header-notifications-scroll" data-simplebar>
												<ul>
													<!-- Notification -->
													<li class="notifications-not-read">
														<%= link_to nm.url, method: :get do  %>
														<!-- <a href="dashboard-messages.html"> -->
															<span class="notification-avatar status-online"><img src= "<%= nm.sender.avatar_url %>" alt=""></span>
															<div class="notification-text">
																<strong><%= nm.sender.full_name %></strong>
																<p class="notification-msg-text"> <%= nm.room_message.message %></p>
																<span class="color"> <%= time_ago_in_words(nm.created_at) %></span>
															</div>
														<% end %>
													</li>
												</ul>
											</div>
										</div>
									<%end%>
								<% end %>
								<!-- <a href="dashboard-messages.html" class="header-notifications-button ripple-effect button-sliding-icon">View All Messages<i class="icon-material-outline-arrow-right-alt"></i></a> -->
							</div>
						</div>

					</div>
					<!--  User Notifications / End -->

					<!-- User Menu -->
					<div class="header-widget">

						<!-- Messages -->
						<div class="header-notifications user-menu">
							<div class="header-notifications-trigger">

								<a href="#"><div class="user-avatar status-online"><img src="<%= current_user.avatar_url %>" alt=""></div></a>
							</div>

							<!-- Dropdown -->
							<div class="header-notifications-dropdown">

								<!-- User Status -->
								<div class="user-status">

									<!-- User Name / Avatar -->
									<div class="user-details">
										<div class="user-avatar status-online"><img src="<%= current_user.avatar_url %>" alt=""></div>
										<div class="user-name">
											<%= current_user.full_name %> <span><%= current_user.worker? ? t('.worker') : t('.customer') %></span>
										</div>
									</div>

									<!-- User Status Switcher -->
									<!-- <div class="status-switch" id="snackbar-user-status">

										<label class="user-online current-status"> <%#= User.types[0] %></label>
										<label class="user-invisible"><%#= User.types[1] %></label>
										<!-- Status Indicator -->
										<!-- <span class="status-indicator" aria-hidden="true"></span> -->

									<!-- </div> -->
								</div>

								<ul class="user-menu-small-nav">
									<%= switch_user_select %>
									<% if current_user.worker? %>
										<li>
											<%= link_to subscriptions_path do %>
												<i class="icon-material-outline-library-books"></i> <%= t('.my_subscription') %>
											<% end %>
										</li>
										<li>
											<%= link_to user_path(id:current_user.id) do %>
												<i class="icon-material-outline-account-circle"></i> <%= t('.my_profile') %>
											<% end %>
										</li>
									<% end %>
									<li><%= link_to edit_user_registration_path, method: :get  do %>
									<i class="icon-material-outline-settings"></i> <%= t('.settings') %>
									<% end %></li>

									<li>
										<%= link_to destroy_user_session_path, method: :delete do %>
											<i class="icon-material-outline-power-settings-new"></i> <%= t('.logout') %>
										<% end %>
									</li>
								</ul>

							</div>
						</div>

					</div>
					<!-- User Menu / End -->

				<% else %>

					<div class="header-widget display-flex" style="background-color:#4267b2">
						<%= link_to new_user_registration_path,method: :get, class:"popup-with-zoom-anim log-in-button", style:"color:white" do %>
						 	<i style="color:white" class="icon-feather-user-plus"></i> <span><%= I18n.t('.header.register') %></span>
						<% end %>
					</div>

					<div class="header-widget display-flex">
						<%= link_to new_user_session_path,method: :get, class:"popup-with-zoom-anim log-in-button" do %>
							<i class="icon-feather-log-in"></i> <span><%= I18n.t('.header.sign_in') %></span>
						<% end %>
					</div>

				<% end %>
				<% if current_user %>
				<!-- Mobile Navigation Button -->
				<span class="mmenu-trigger">
					<button class="hamburger hamburger--collapse" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
				</span>
				<% end %>
			</div>

			<!-- Right Side Content / End -->

		</div>
	</div>
	<!-- Header / End -->

</header>
<div class="clearfix"></div>
