<p id="notice"><%= notice %></p>

<h1>Quote Elements</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quote_elements.each do |quote_element| %>
      <tr>
        <td><%= quote_element.content %></td>
        <td><%= quote_element.quantity %></td>
        <td><%= quote_element.price %></td>
        <td><%= quote_element.total %></td>
        <td><%= link_to 'Show', quote_element %></td>
        <td><%= link_to 'Edit', edit_quote_element_path(quote_element) %></td>
        <td><%= link_to 'Destroy', quote_element, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quote Element', new_quote_element_path %>
