<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @quote_element.content %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @quote_element.quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @quote_element.price %>
</p>

<p>
  <strong>Total:</strong>
  <%= @quote_element.total %>
</p>

<%= link_to 'Edit', edit_quote_element_path(@quote_element) %> |
<%= link_to 'Back', quote_elements_path %>
