

  <div class="messages-headline">
    <h4><%= @other_user.full_name %></h4>
  </div>

  <!-- Message Content Inner -->
  <div class="message-content-inner" style="height: 750px;" >
    <div class="chat" data-channel-subscribe="room" data-room-id="<%= @room.id %>" style="height:100%;overflow-y:scroll">
        <% @room_messages.each do |room_message| %>
        <!-- Time Sign -->
          <div class="message-time-sign">
            <span><%= room_message.created_at %></span>
          </div>
          <div class="message-bubble <%= 'me' if room_message.author == current_user %>" >
            <div class="message-bubble-inner" >
              <div class="message-avatar"><img src="<%= room_message.author.avatar_url %>" alt="" /></div>
              <div class="message-text"><p><%= room_message.message %></p></div>
            </div>
            <div class="clearfix"></div>
          </div>
        <%end%>
    </div>
  </div>
  <!-- Message Content Inner / End -->

  <div class="notification" style="width: 95%; border: 1px solid #eaeaea; margin: auto; padding: 15px;display: none;">
    <div class="row">
      <div class="col-sm-7" style="display: flex; align-items: center">
        <i class="icon-feather-zap" style="margin-right: 10px"></i> Répondre à ce message vous coûtera 10 crédits
      </div>
      <div class="col-sm-5" style="display: flex; justify-content: flex-end">
        <a class="button">Répondre</a>
      </div>
    </div>
  </div>

  <div class="notification" style="width: 95%; border: 1px solid #eaeaea; margin: auto; padding: 15px;display: none;">
    <div class="row">
      <div class="col-sm-7" style="display: flex; align-items: center">
        <i class="icon-feather-zap" style="margin-right: 10px"></i> Répondre à ce message nécessite 10 crédits
      </div>
      <div class="col-sm-5" style="display: flex; justify-content: flex-end">
        <a class="button">Racheter des crédits</a>
      </div>
    </div>
  </div>

  <div class="notification" style="width: 95%; border: 1px solid #eaeaea; margin: auto; padding: 15px;display: none;">
    <div class="row">
      <div class="col-sm-7" style="display: flex; align-items: center">
        <i class="icon-feather-zap" style="margin-right: 10px"></i> Discussion avec Sindy Forest
      </div>
      <div class="col-sm-5" style="display: flex; justify-content: flex-end">
        <a class="button">Créer une mission</a>
      </div>
    </div>
  </div>

  <div class="notification" style="width: 95%; border: 1px solid #eaeaea; margin: auto; padding: 15px;display: none;">
    <div class="row">
      <div class="col-sm-7" style="display: flex; align-items: center">
        <i class="icon-feather-zap" style="margin-right: 10px"></i> Proposition de mission Dev Site
      </div>
      <div class="col-sm-5" style="display: flex; justify-content: flex-end">
        <a class="" style="margin-right: 10px;display: flex; align-items: center">Décliner</a>
        <a class="button">Envoyer un devis</a>
      </div>
    </div>

  </div>

  <!-- Reply Area -->
  <%= form_for @room_message, remote: true do |form| %>
    <div class="message-reply">
      <%= form.text_area :message, id:"message_area", rows:"1", placeholder:"Your Message" %>
      <%= form.submit "Envoyer", class: 'button ripple-effect', id:"message_submit" %>
      <%= form.hidden_field :room_id %>
      <%= form.hidden_field :author_id, :value => current_user.id %>
      <%= form.hidden_field :receiver_id, :value => @room.receiver.id = current_user.id ? @room.receiver.id : @room.author.id %>
    </div>
  <% end %>

  <!-- This block is to display the messages thanks to the data-role sent by room_channel.js -->
  <div class="message-content-inner d-none" data-role="message-template">
    <!-- Time Sign -->
    <div class="message-time-sign">
      <span data-role="message-date"></span>
    </div>

    <div class="message-bubble me">
      <div class="message-bubble-inner">
        <div class="message-avatar"><img src="/theme/user/hireo/images/user-avatar-small-01.jpg" alt="" /></div>
        <div class="message-text"><p data-role="message-text"></p></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
