<!-- Dashboard Container -->
<div class="dashboard-container">

  <!-- Dashboard Content
  ================================================== -->
  <div class="dashboard-content-container" data-simplebar>
    <div class="dashboard-content-inner" >

      <!-- Dashboard Headline -->
      <div class="dashboard-headline">
        <h3>Messages</h3>
      </div>

      <div class="messages-container margin-top-0">
        <div class="row">
          <div class="col-sm-9" style="padding-right: 0px;">

            <div class="messages-container-inner">

              <!-- Messages -->
              <%= render partial: 'rooms' %>
              <!-- Messages / End -->

              <!-- Message Content -->
              <div class="message-content">

                <div class="messages-headline">
                  <h4><%= @room.name %></h4>
                </div>

                <!-- Message Content Inner -->
                <div class="message-content-inner">

                    <% @room_messages.each do |room_message| %>

                  <!-- Time Sign -->
                  <div class="message-time-sign">
                    <span><%= room_message.created_at %></span>
                  </div>

                  <div class="message-bubble me">
                    <div class="message-bubble-inner">
                      <div class="message-avatar"><img src="images/user-avatar-small-01.jpg" alt="" /></div>
                      <div class="message-text"><p><%= room_message.message %></p></div>
                    </div>
                    <div class="clearfix"></div>
                  </div>






                  <% end %>
                </div>
                <!-- Message Content Inner / End -->

                <div class="notification" style="width: 95%; border: 1px solid #eaeaea; margin: auto; padding: 15px;display: none;">
                  <div class="row">
                    <div class="col-sm-7" style="display: flex; align-items: center">
                      <i class="icon-feather-zap" style="margin-right: 10px"></i> Répondre à ce message vous coûtera 10 crédits
                    </div>
                    <div class="col-sm-5" style="display: flex; justify-content: flex-end">
                      <a class="button">Répondre</a>
                    </div>
                  </div>
                </div>

                <div class="notification" style="width: 95%; border: 1px solid #eaeaea; margin: auto; padding: 15px;display: none;">
                  <div class="row">
                    <div class="col-sm-7" style="display: flex; align-items: center">
                      <i class="icon-feather-zap" style="margin-right: 10px"></i> Répondre à ce message nécessite 10 crédits
                    </div>
                    <div class="col-sm-5" style="display: flex; justify-content: flex-end">
                      <a class="button">Racheter des crédits</a>
                    </div>
                  </div>
                </div>

                <div class="notification" style="width: 95%; border: 1px solid #eaeaea; margin: auto; padding: 15px;display: none;">
                  <div class="row">
                    <div class="col-sm-7" style="display: flex; align-items: center">
                      <i class="icon-feather-zap" style="margin-right: 10px"></i> Discussion avec Sindy Forest
                    </div>
                    <div class="col-sm-5" style="display: flex; justify-content: flex-end">
                      <a class="button">Créer une mission</a>
                    </div>
                  </div>
                </div>

                <div class="notification" style="width: 95%; border: 1px solid #eaeaea; margin: auto; padding: 15px;display: none;">
                  <div class="row">
                    <div class="col-sm-7" style="display: flex; align-items: center">
                      <i class="icon-feather-zap" style="margin-right: 10px"></i> Proposition de mission Dev Site
                    </div>
                    <div class="col-sm-5" style="display: flex; justify-content: flex-end">
                      <a class="" style="margin-right: 10px;display: flex; align-items: center">Décliner</a>
                      <a class="button">Envoyer un devis</a>
                    </div>
                  </div>

                </div>

                <!-- Reply Area -->
                <div class="message-reply">
                  <%= form_for @room_message, remote: true do |form| %>
                    <%= form.text_area :message, id:"message_area", rows:"1", placeholder:"Your Message" %>
                    <%= form.submit "Envoyer", class: 'button ripple-effect', id:"message_submit" %>
                    <%= form.hidden_field :room_id %>
                    <%= form.hidden_field :author_id, :value => @room.author.id %>
                    <%= form.hidden_field :receveir_id, :value => @room.receiver.id %>
                  <% end %>

                </div>

              </div>
              <!-- Message Content -->

            </div>
          </div>
          <div class="col-sm-3" style="padding: 0px; border-left: 1px solid #eaeaea">
            <div class="job-overview">
              <div class="messages-headline">
                <h4>Dev Site Web</h4>
              </div>
              <div class="job-overview-inner" style="background-color: #ffff">
                <ul>
                  <li>
                    <i class="icon-material-outline-local-atm"></i>
                    <span>Votre budget</span>
                    <h5>0€  - 1000€ </h5>
                  </li>
                  <li>
                    <i class="icon-material-outline-location-on"></i>
                    <span>Statut</span>
                    <mark class="color" style="background-color: grey">Créée</mark>
                    <mark class="color" style="background-color: orange">En cours</mark>
                    <mark class="color" style="background-color: #28b661">Terminée</mark>
                    <mark class="color" style="background-color: #e53038">Annulée</mark>
                  </li>
                  <li>
                    <i class="icon-material-outline-business-center"></i>
                    <span>Catégorie</span>
                    <h5>Mariage</h5>
                  </li>
                  <li>
                    <i class="icon-material-outline-local-atm"></i>
                    <span>Sous Catégorie</span>
                    <h5>Mariage hiver</h5>
                  </li>
                  <li>
                    <i class="icon-material-outline-location-on"></i>
                    <span>Format de livraison</span>
                    <h5>Clé USB</h5>
                  </li>
                  <li>
                    <i class="icon-material-outline-business-center"></i>
                    <span>Temps estimé</span>
                    <h5>1h à 2h</h5>
                  </li>
                  <li>
                    <i class="icon-material-outline-local-atm"></i>
                    <span>A quelle date ?</span>
                    <h5>Lundi 30 Octobre 2019</h5>
                  </li>

                </ul>
              </div>
              <div class="messages-headline" style="border-top: 1px solid #eaeaea; border-bottom: none">
                <h4>Vos devis</h4>
              </div>
              <div class="job-overview-inner" style="background-color: #ffff; padding-top: 0; ">
                <ul>
                  <li style="display: flex; justify-content: space-between">
                    <i class="icon-material-outline-description"></i> <a href="#">Devis 01</a> <mark class="color" style="background-color: #28b661">En cours</mark>
                  </li>
                  <li style="display: flex; justify-content: space-between">
                    <i class="icon-material-outline-description"></i> <a href="#">Devis 02</a> <mark class="color" style="background-color: #e53038">Refusé</mark>
                  </li>
                  <li style="display: flex; justify-content: space-between">
                    <i class="icon-material-outline-add"></i> <a href="/quotes/new">Nouveau devis</a>

                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Messages Container / End -->



    </div>
  </div>
  <!-- Dashboard Content / End -->

</div>
<!-- Dashboard Container / End -->
