
<%= content_for :body_style do %>
  <%= render "layouts/admin/style_datatable" %>
<% end %>
<%= content_for :page_title, "Les categories" %>
<div class="panel">
  <header class="panel-heading">
    <h3 class="panel-title">Voici les catégories actuellement en ligne : </h3>
  </header>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <div class="mb-15">
					<%= link_to 'Ajouter une catégorie', new_admin_category_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#addCategory', class: 'btn btn-primary'}  %>
        </div>
      </div>
    </div>
		<div class="panel-body" id="category_list">
      <%= render "category_list" %>
    </div>
		<%= render "add_category_modal" %>
    <div id="editCategory">

    </div>
  </div>
</div>
<%= content_for :body_script do %>
<%= render "layouts/admin/script_datatable" %>
<% end %>
