	<!--Main Table Start-->
	<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#f0f0f0" style="background:#f0f0f0;">
		<tr>
			<td align="center" valign="top">


				<!--Logo Part Start-->


				<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
					<tr>
						<td align="center" valign="top">
							<table width="80%" border="0" align="center" cellpadding="0" cellspacing="0" class="main">
								<tr>
									<td height="80" align="center" valign="middle" style="line-height:80px; font-size:80px;">&nbsp;</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>

				<!--Logo Part End-->

				<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
					<tr>
						<td align="center" valign="top">
							<table width="80%" border="0" align="center" cellpadding="0" cellspacing="0" class="main">
								<tr>
									<td align="center" valign="middle" bgcolor="#4267b2" style="-moz-border-radius: 8px 8px 0px 0px; border-radius: 8px 8px 0px 0px;">
										<table width="490" border="0" align="center" cellpadding="0" cellspacing="0" class="two-left-inner">
											<tr>
												<td height="25" align="center" valign="middle" style="line-height:25px; font-size:25px;">&nbsp;</td>
											</tr>
											<tr>
												<td align="left" valign="top">

													<table border="0" align="left" cellpadding="0" cellspacing="0" class="full">
														<tr>
															<td align="center" valign="top" style="font-family:'Open Sans', Verdana, Arial; font-size:30px; color:#FFF; font-weight:normal; line-height:40px;" mc:edit="nm2-01">
																<multiline><%= t('.account_confirmation') %></multiline>
															</td>
														</tr>
													</table>
												</td>
											</tr>
											<tr>
												<td height="25" align="center" valign="middle" style="line-height:25px; font-size:25px;">&nbsp;</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>

				<!--Content Part Start-->

				<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
					<tr>
						<td align="center" valign="top">
							<table width="80%" border="0" align="center" cellpadding="0" cellspacing="0" class="main">
								<tr>
									<td align="center" valign="middle" bgcolor="#FFFFFF" style="-moz-border-radius: 0px 0px 8px 8px; border-radius: 0px 0px 8px 8px;">
										<table width="490" border="0" cellspacing="0" cellpadding="0" class="two-left-inner">
											<tr>
												<td height="60" align="center" valign="middle" style="line-height:60px; font-size:60px;">&nbsp;</td>
											</tr>
											<tr>
												<td align="left" valign="top">
													<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0" class="two-left-inner">
														<tr>
															<td align="left" valign="top">
																<table width="100%" border="0" align="right" cellpadding="0" cellspacing="0" class="full">
																	<tr>
																		<td align="left" valign="top">
																			<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
																				<tr>
																					<td height="7" align="center" valign="middle" style="line-height:7px; font-size:7px;">&nbsp;</td>
																				</tr>
																				<tr>
																					<td align="center" valign="top" style="font-family:'Open Sans', Verdana, Arial; font-size:24px; color:#312e2e; font-weight:normal; line-height:36px;" mc:edit="nm2-04">
																						<p><%=  @user.full_name %>,</p>
																					</td>
																				</tr>
																				<tr>
																					<td align="center" valign="top" style="font-family:'Open Sans', Verdana, Arial; font-size:20px; color:#4267b2; font-weight:normal; line-height:34px;" mc:edit="nm2-05">
																						<multiline><%= t('.welcome_to_yoopeek') %></multiline>
																					</td>
																				</tr>
																				<tr>
																					<td height="5" align="center" valign="middle" style="line-height:5px; font-size:5px;">&nbsp;</td>
																				</tr>
																			</table>
																		</td>
																	</tr>
																</table>



															</td>
														</tr>
													</table>
												</td>
											</tr>
											<tr>
												<td height="30" align="center" valign="middle" style="line-height:30px; font-size:30px;">&nbsp;</td>
											</tr>
											<tr>
												<td align="center" valign="top" style="font-family:'Open Sans', Verdana, Arial; font-size:16px; color:#767676; font-weight:normal; line-height:32px;" mc:edit="nm2-06">
													<multiline><%= t('.you_can_confirm_your_account_through_the_link_below') %></multiline>
												</td>
											</tr>
											<tr>
												<td height="30" align="center" valign="middle" style="line-height:30px; font-size:30px;">&nbsp;</td>
											</tr>
											<tr>
												<td align="left" valign="top">
													<table width="335" border="0" align="center" cellpadding="0" cellspacing="0" class="two-left-inner">
														<tr>
															<td align="center" valign="top">

																<table width="50%" border="0" align="center" cellpadding="0" cellspacing="0" class="two-left-inner">
																	<tr>
																		<td height="100%" align="center" valign="middle"
																			style="background:#4267b2; font-family:'Open Sans', Verdana, Arial; font-size:14px; color:#FFF; font-weight:normal; text-transform:uppercase; line-height:28px; -moz-border-radius: 25px; border-radius: 25px;"
																			mc:edit="nm2-07">
																			<multiline><%= link_to t('.confirm_my_account'), confirmation_url(@resource, confirmation_token: @token),style:"color:white !important;" %></multiline>
																		</td>
																	</tr>
																	<tr>
																		<td height="20" align="center" valign="middle" style="line-height:20px; font-size:20px;">&nbsp;</td>
																	</tr>
																</table>

															</td>
														</tr>
													</table>
												</td>
											</tr>
											<tr>
												<td height="60" align="center" valign="middle" style="line-height:60px; font-size:60px;">&nbsp;</td>
											</tr>

										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>

	<!--Main Table End-->
