<table class="table table-hover dataTable table-striped w-full" data-plugin="dataTable">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Email</th>
      <th>Professionnel</th>
      <th>Profession</th>
      <th>Approuvé</th>
      <th>Consulter les informations</th>
      <th>Supprimer l'utilisteur</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td> <%= user.full_name %></td>
        <td> <%= user.email %></td>
        <td> <%= user.worker? ? "Oui" : "Non" %></td>
        <td> <% if user.worker? %><%= user.profession.name if user.profession.present?%> <% end %></td>
        <td> <% if user.worker? %><%= check_box_tag 'approved', user.id, user.approved, :class => "user-approved-check"%> <% end %></td>
        <td><%= link_to "Voir les informations", admin_user_path(user), remote: true %> </td>
        <td> <%= link_to "Supprimer", user_path(id: user.id), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
