<%= content_for :body_style do %>
<link rel="stylesheet" href="/theme/user/hireo/css/style.css">
<link rel="stylesheet" href="/theme/user/hireo/css/colors/blue.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="/theme/admin/classic/global/vendor/select2/select2.css">
<%end%>

              <div class="panel-body container-fluid">
                <%= form_with model: @user.becomes(User), url: {action: "update"}, local: true do |f| %>
				            <%= render 'layouts/user/edit/form.html.erb', user: @user, f: f %>
                <%end%>
                <% if @user.current_subscription.blank? %>

                  <%= form_with url: trial_period_admin_user_path(@user), local: true do |f| %>
                    <div class="row">
                      <!-- Dashboard Box -->
                      <div class="col-xl-12">
                        <div class="dashboard-box margin-top-0">

                          <!-- Headline -->
                          <div class="headline">
                            <h3><i class="icon-material-outline-account-circle"></i> <%= I18n.t('trial_period') %></h3>
                          </div>

                          <div class="content with-padding padding-bottom-0">

                            <div class="row">

                                <div class="col-xl-12 row">
                                  <div class="submit-field col-md-6">
                                    <h5><%= I18n.t('period_time_in_day') %></h5>
                                    <%= f.number_field :trial_period, class:"with-border" %>
                                  </div>
                                  <%= f.submit I18n.t('give_trial_period'),class:"button ripple-effect big margin-top-30", id: "submit-form-button", data: {disable_with: t('update_in_progress') } %>
                                </div>
                              </div>


                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  <%end%>
                <% end %>
              </div>

    <!-- End Page -->

    <%= content_for :body_script do %>

        <script src="/theme/admin/classic/global/js/Plugin/select2.js"></script>
      <script src="/theme/admin/classic/global/vendor/jquery-ui/jquery-ui.js"></script>
      <script src="/theme/admin/classic/global/vendor/blueimp-tmpl/tmpl.js"></script>
      <script src="/theme/admin/classic/global/vendor/blueimp-canvas-to-blob/canvas-to-blob.js"></script>
      <script src="/theme/admin/classic/global/vendor/blueimp-load-image/load-image.all.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
      <%= render "layouts/admin/script_datatable" %>
          <script src="/theme/user/hireo/js/bootstrap-select.min.js"></script>
    <%end%>
