<!DOCTYPE html>
<html>
  <head>
    <title>Yoopeek</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/theme/user/hireo/css/style.css">
    <link rel="stylesheet" href="/theme/user/hireo/css/colors/blue.css">
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{Rails.application.credentials.google[:place_api_key]}" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :body_style %>
  </head>

  <body>
      <div id="wrapper">
        <%= render "layouts/user/header"%>
        <% unless flash.empty? %>
        	<script type="text/javascript">
        		<% flash.each do |f| %>
              <% type = f[0].gsub('alert', 'error').gsub('notice', 'info') %>
        			toastr['<%= type %>']('<%= f[1] %>');
        		<% end %>
        	</script>
        <% end %>
        <%= yield %>
      </div>
    <script src="/theme/user/hireo/js/jquery-3.3.1.min.js"></script>
    <script src="/theme/user/hireo/js/jquery-migrate-3.0.0.min.js"></script>
    <script src="/theme/user/hireo/js/mmenu.min.js"></script>
    <script src="/theme/user/hireo/js/tippy.all.min.js"></script>
    <script src="/theme/user/hireo/js/simplebar.min.js"></script>
    <script src="/theme/user/hireo/js/bootstrap-slider.min.js"></script>
    <script src="/theme/user/hireo/js/bootstrap-select.min.js"></script>
    <script src="/theme/user/hireo/js/snackbar.js"></script>
    <script src="/theme/user/hireo/js/clipboard.min.js"></script>
    <script src="/theme/user/hireo/js/counterup.min.js"></script>
    <script src="/theme/user/hireo/js/magnific-popup.min.js"></script>
    <script src="/theme/user/hireo/js/slick.min.js"></script>
    <script src="/theme/user/hireo/js/custom.js"></script>
    <%= yield :body_script %>
    <!-- Snackbar // documentation: https://www.polonel.com/snackbar/ -->
    <script>
    // Snackbar for user status switcher
    $('#snackbar-user-status label').click(function() {
    	Snackbar.show({
    		text: 'Your status has been changed!',
    		pos: 'bottom-center',
    		showAction: false,
    		actionText: "Dismiss",
    		duration: 3000,
    		textColor: '#fff',
    		backgroundColor: '#383838'
    	});
    });
    </script>
  </body>
</html>
