<!DOCTYPE html>
<html>
  <head>
    <title>Yoopeek</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="turbolinks-cache-control" content="no-cache">
    <link rel="stylesheet" href="/theme/user/hireo/css/style.css">
    <link rel="stylesheet" href="/theme/user/hireo/css/colors/blue.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{Rails.application.credentials.google[:place_api_key]}" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon_yoopeek.png') %>
    <%= yield :body_style %>
  </head>

  <body
    <% if content_for?(:body_attributes) %>
      <%= yield(:body_attributes) %>
    <% end %>
    >

    <div id="wrapper">
      <%= render "layouts/user/header"%>
      <% unless (controller_name == "home" && action_name == "index") || (controller_name == "users" && action_name == "show")  %>
      <div class="dashboard-container">
    		<div class="dashboard-content-container">
    			<div class="dashboard-content-inner" >
      <% end %>
            <% unless flash.empty? %>
            	<script type="text/javascript">
            		<% flash.each do |f| %>
                  <% type = f[0].gsub('alert', 'error').gsub('notice', 'info') %>
            			toastr['<%= type %>']('<%= f[1] %>');
            		<% end %>
            	</script>
            <% end %>
            <%= yield %>
          </div>
          <%= render "layouts/user/footer"%>
          <% unless controller_name == "home" && action_name == "index" %>
        </div>
      </div>
    </div>
    <% end %>
    <script src="/theme/user/hireo/js/jquery-migrate-3.0.0.min.js"></script>
    <script src="/theme/user/hireo/js/mmenu.min.js"></script>
    <script src="/theme/user/hireo/js/tippy.all.min.js"></script>
    <script src="/theme/user/hireo/js/simplebar.min.js"></script>
    <script src="/theme/user/hireo/js/bootstrap-slider.min.js"></script>
    <script src="/theme/user/hireo/js/bootstrap-select.min.js"></script>
    <script src="/theme/user/hireo/js/snackbar.js"></script>
    <script src="/theme/user/hireo/js/clipboard.min.js"></script>
    <script src="/theme/user/hireo/js/counterup.min.js"></script>
    <script src="/theme/user/hireo/js/magnific-popup.min.js"></script>
    <script src="/theme/user/hireo/js/slick.min.js"></script>
    <script src="/theme/user/hireo/js/custom.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
      $(document).on('turbolinks:load', function() {
      function initializeAutocomplete(id) {
           var element = document.getElementById(id);
           if (element) {
             var autocomplete = new google.maps.places.Autocomplete(element, { types: ['geocode'] });
             google.maps.event.addListener(autocomplete, 'place_changed', onPlaceChanged);

             }
      }

      function onPlaceChanged() {
           var place = this.getPlace();

           // console.log(place);  // Uncomment this line to view the full object returned by Google API.
           $("#street_id").val(place.address_components[0].long_name + ' ' + place.address_components[1].long_name)
      for (var i in place.address_components) {
       var component = place.address_components[i];
       for (var j in component.types) {  // Some types are ["country", "political"]
        var type_element = document.getElementById(component.types[j]);
        if (type_element) {
         type_element.value = component.long_name;
         }
        }
       }
      }
      google.maps.event.addDomListener(window, 'load', function() {
       initializeAutocomplete('autocomplete_address');
       });
      });
    </script>
    <%= yield :body_script %>
    <!-- Snackbar // documentation: https://www.polonel.com/snackbar/ -->
    <script>
    // Snackbar for user status switcher
    $('#snackbar-user-status label').click(function() {
    	Snackbar.show({
    		text: 'Your status has been changed!',
    		pos: 'bottom-center',
    		showAction: false,
    		actionText: "Dismiss",
    		duration: 3000,
    		textColor: '#fff',
    		backgroundColor: '#383838'
    	});
    });
    </script>
  </body>
</html>
